<h2>CALL FOR NEW EXPANSION TEAMS</h2>
<ul>
  <li>
    <a href="#overview">OVERVIEW</a>
  </li>
  <li>
    <a href="#requirements">REQUIREMENTS</a>
  </li>
  <li>
    <a href="#criteria">EVALUATION CRITERIA</a>
  </li>
  <li>
    <a href="#machines">LEAGUE-WORTHY MACHINES</a>
  </li>
  <li>
    <a href="#teams">APPLYING FOR A NEW TEAM</a>
  </li>
  <li>
    <a href="#solo-players">SOLO PLAYERS LOOKING FOR TEAMS</a>
  </li>
</ul>

<h3 id="overview">OVERVIEW</h3>
<p>
  Monday Night Pinball is pleased to announce that expansion with new teams can continue for this coming Spring 2018 season.
  In Fall 2017, we had 22 teams and 220 players every week, making us one of the largest leagues in the nation.
  MNP may needs at least one team to replace a disbanded team due to the closure of the Goat, and is 
  willing to expand up to 24 teams, depending on 
  interest and qualifications of teams vying for one of those slots.
</p>

<p>
  This page provides the details to any new location, operator, or player who is interested in playing for or applying to be one of the expansion teams.
  It includes minimum requirements to form a team, and instructions on how to apply.  Note that a team existing in prevoius 
  season, but which loses
  most of their players between seasons for any reason may need to reapply as an expansion team and meet all the requirements specified on this page. An existing team that is requesting a move to a new location must also meet the location requirements listed below, and must apply for the change by the same expansion team deadline date listed below.
</p>

<p>
  The deadline to apply for a new expansion team for Spring 2018 season is JANUARY 8, 2018.  
  The spots are limited, and MNP will not necessarily wait for everyone to apply;
  thus even though a deadline date is specified, applying early does increase the chances of earning one of the expansion slots.
  If there are not sufficient qualified teams applying by the deadline date, the league may choose to not expand.
</p>

<h3 id="requirements">REQUIREMENTS</h3>
<p>
  In order for a location to host a new team, here are the minimum requirements.
  Note that just because minimum requirements are met does not mean a team is granted.
  Rather, this is the minimum needed to be considered. The evaluation criteria below will then be used to select teams,
  if there are more teams that meet these requirements than there are expansion slots,
  or if there are an odd number of teams vying for spots, as expansion will only occur in pairs.
</p>

<ul>
  <li>
    Location must have a minimum of 8 machines in league-worthy condition. Note that this is a change from the prior minimum of six machines. See information below on description of league-worthy.
  </li>
  <li>
    Location must not yet have two teams. There are a maximum of two teams per location.
  </li>
  <li>
    A location that currently has no teams can only apply for one expansion team this season.
  </li>
  <li>
    A newly opening location must already be open by the application deadline date.
  </li>
  <li>
    The pinball area at the location must be big enough to accommodate at least 24 players (20 players plus a few guests).
  </li>
  <li>
    Location must be within 20 miles of downtown Seattle. Use Google Maps with “Seattle WA” as the origin to use; shortest route will be used to determine if a location is close enough.
  </li>
  <li>
    Captain and co-captains of the team have been identified, and each has already played in at least one full season in MNP.
  </li>
  <li>
    Captains and co-captains MUST have a Facebook account (even if used solely for MNP pinball), as that is how communication with captains from the league occurs.
  </li>
  <li>
    At least 6 more players have already signed up to the team (see details on how below).
  </li>
  <li>
    No cover charge for location. Players are expected to pay for play, but should not need to pay anything beyond that. An exception is if cover charge is $5 or less per person and all machines are on free play, on both league nights and when players go to practice. If location occasionally has a cover charge, then refer to evaluation criteria below for open hours for practice; those times are not considered open hours.
  </li>
  <li>
    Location must sell at least beer or wine (i.e. must have liquor license). This is a barcade league, not a family league!
  </li>
  <li>
    Location must be open (or willing to stay open) until at least midnight on league nights. If they close at midnight, they must also be willing to allow for short extension in cases where league night does run late.
  </li>
</ul>

<h3 id="criteria">EVALUATION CRITERIA</h3>
<p>
  Meeting the requirements above is the minimum necessary to be considered for a team.
  Beyond that, a subjective evaluation of each team will be performed by each board member,
  and a vote taking place as to whether or not a team is selected. Note that teams are always added in pairs.
  As soon as at least two teams have applied, the evaluation may begin, and teams could be selected.
</p>
<p>
  The board members are provided with the following criteria to use as a guide for themselves in deciding which locations to vote for.
</p>

<ul>
  <li>
    Number of league-worthy machines. While 8 is the minimum, the more the merrier.
  </li>
  <li>
    Whether or not the location has keys to the machines to remove stuck balls.
  </li>
  <li>
    Amount of space in pinball area. More space with seating and tables is preferred over a room of machines and nowhere to sit.
  </li>
  <li>
    Quality of machines. While machines might be league-worthy, machines that are cleaner,
    have more strength in flippers, better lighting, all produce a better playing experience.
  </li>
  <li>
    Machine era variety. A location that has a good mix of newer and older machines from different manufacturers provides
    a better balance for league play than a location that is all old EM, or all the newest Stern.
  </li>
  <li>
    Size of the regular clientele to choose from. A location that already is hosting tournaments and
    has many players that aren’t yet part of MNP would be preferred to a new location where there are pinball machines, but no local regulars.
  </li>
  <li>
    Safety and general comfort of the location. Locations that are known to have regular bar fights or show prejudice or discrimination of any kind are not acceptable locations.
  </li>
  <li>
    How many of the new players are new, and not just moving from another team.
    A new team composed of players who currently play on other MNP teams is less appealing,
    as it’s only shifting players, not actually helping to expand. Rather, it simply puts the burden on other captains to find new players.
  </li>
  <li>
    General open hours for practice. A location that usually closes at 7pm,
    but stays open till midnight only on Monday nights to support MNP is less desirable than a location open until 2AM every day.
    Similarly, a location that is open but pinball machines are not available for use does not count towards being open for practice.
  </li>
</ul>

<p>
  Note that the following items are explicitly NOT evaluation criteria.
  Already the locations in the league have a significant difference in these items such that it would not be fair to consider them for new locations either.
</p>

<ul>
  <li>
    Whether or not location sells food.
  </li>
  <li>
    Variety of offerings at the bar.
  </li>
  <li>
    Cost of food or drinks.
  </li>
  <li>
    Accessibility to a smoking area (smoking of any kind).
  </li>
  <li>
    Ease or difficulty of parking in the area.
  </li>
  <li>
    Public transportation access (teams should be able to arrange car pools amongst themselves for the more remote locations).
  </li>
  <li>
    Which specific machine titles are present, as that’s a matter of opinion.
  </li>
  <li>
    Cost per game, as long as it is no more than $1/game. The local team is going to get more annoyed than any visiting team if cost to play is high,
    so if they want to negotiate with location on price, that’s up to them. If they’re willing to pay and play at that location,
    then that’s their choice, and there will be no action if visiting teams complain.
  </li>
</ul>

<h3 id="machines">LEAGUE WORTHY MACHINES</h3>
<p>A machine is league-worthy if it meets the following criteria:</p>

<ul>
  <li>
    Machine is primarily pinball.  A machine with a video mode is OK, but a machine in which more than 10% of the time is in video mode,
    or for which you can lose your turn by losing video mode instead of draining a ball, are not eligible.
  </li>
  <li>
    All switches are registering (it’s ok if one switch is not registering but is not crucial to game play that nobody really complains about it).
    Shots or features not working but have suitable compensation enabled (like disabling claw in Demolition Man) is acceptable.
  </li>
  <li>
    Lower flippers are strong enough to hit every shot, even after the machine has been in constant use for 30 minutes.
    Upper flippers are strong enough to make crucial shots (a broken upper flipper on some games like Mars Trek is acceptable, but on most games it isn’t).
  </li>
  <li>
    Most (preferably all) lights are working. Key lights are all working.
  </li>
  <li>
    Playfield is reasonable clean, and doesn’t have a year of grime build-up.
  </li>
  <li>
    Balls rarely get stuck.
  </li>
  <li>
    Machine does not regularly glitch, such as resetting mid-game, ending balls prematurely,
    creating arbitrary multi-balls or not serving multiple balls during multi-ball, etc.
    A machine that does this rarely (e.g. at most once a day) is ok; if it happens in that case, malfunction rules apply.
    If it’s happening more frequently, the machine is not league worthy.
  </li>
</ul>

<h3 id="teams">APPLYING FOR A NEW TEAM</h3>
<p>
  The proposed captain or co-captain for a new team is responsible for submitting the team expansion application,
  and individual players interested in the team are responsible for individually signing up.
</p>
<p>
  The application is to be emailed by the proposed captain to <a href="mailto:info@mondaynightpinball.com">info@mondaynightpinball.com</a>, and must include the following:
</p>

<ul>
  <li>
    Proposed Home Location
  </li>
  <li>
    Proposed Team Name
  </li>
  <li>
    Names of Captain and Co-Captain
  </li>
  <li>
    Names of at least 6 (up to 8) other COMMITTED players (see below)
  </li>
  <li>
    Name and contact info of the location owner or operator who is approving the team at their location.
  </li>
</ul>

<p>
  Furthermore, in order for each player to show they are committed to the new team, they should <a href="/signup">SIGN UP</a> to confirm their interest,
  indicating the proposed new team as their first (and optionally only) choice. If the person is moving from another team,
  and would like to retain the spot on the other team if there is no expansion team, they should list that team as their second choice.
</p>
<p>
  Proposed Captains and Co-Captains should also request to join the <a href="https://www.facebook.com/groups/280092795481317/">MNP Captain's Facebook Group</a>
  as Facebook messaging and Groups is the primary means for keeping in touch with captains.
</p>

<h3 id="solo-players">SOLO PLAYERS LOOKING FOR TEAMS</h3>

<p>
  Players who are interested in joining a team, whether it be an existing team with new openings, or a new expansion team,
  should <a href="/signup">SIGN UP</a> to indicate their interest, or by sending a message to a league official personally confirming their interest.
  League officials can be reached via email: <a href="mailto:info@mondaynightpinball.com">info@mondaynightpinball.com</a>.
  Up to three teams or locations can be listed in order of preference. Also feel free to list areas instead of teams, like “South of City” or “Ballard”.
  Players will be contacted by team captains or league officials based on availability of spots. Ultimately it is a team’s captain decision,
  not a league decision, on any player joining a specific team.
</p>
