<h2>Monday Night Pinball</h2>

<p>
  Monday Night Pinball is a friendly competitive pinball bar league that aims to build interest in the hobby and encourage players and their teams to grow together.
</p>

<h3><a href="http://pinballstats.info/search/">PLAYER LOOKUP</a></h3>
<h3><a href="/signup">SIGN-UP HERE</a></h3>
<hr>

<h3>Congrats Spring 2018 Champions</h3>
<ul>
  <li>Div 1: Olaf's Northern Lights</li>
  <li>Div 2: Jupiter Pinuminati - DTP</li>
</ul>

<!--
<h3><a href="/bracket.jpg">PLAYOFF BRACKET</a></h3>
-->
<h3>Fall 2018 Updates</h3>
<ul>
<li>In the tie-breakers, Spring 2018 rule was that home team goes first in all three games. This will be changed to team that picks a machine goes first.<br>
Rationale: this makes it consistent with all other matches and reduces the perception that the Away team has a significant advantage of both picking machines and going second in those matches.</li>

<li>The new IPR threshold breakdown will be 1=15%, 2=20%, 3=25%, 4=20%, 5=15%, 6=5%. The IPR thresholds were originally computed for IPR=1 thru 6 as 1=15%, 2=20%, 3=30%, 4=20%, 5=13%, 6=2%. A 6 will now correspond to IFPA=250 (instead of IFPA=150 as it was originally) to properly map to that larger '6' bucket.<br>
Rationale: The bucket for '6' was too small that it created anomalies when a '6' joined a roster on another team, as that would bump another 6 down to a 5 even though that player's play was not below their average. This change coupled with next bullet item increases the number of '6' in the league to better represent the Seattle player base who participates in MNP and reduces volatility on the 5/6 boundary. The 5% bucket means about 12 players in the league will have a '6'. Thus on any given night, about 14 teams will not have a 6 and still able to use a '6' as a sub, with actual number depending on the Team IPR cap. There will be no change to the Team IPR cap of 40. Any player joining a team as a 5 prior to the next IPR freeze (approx Sep 1) but becoming a '6', will be grandfathered in if it results in a team cap above 40 or more than one 6 on the team.</li>

<li>When IPRs are refrozen mid-season and before playoffs, individual IPRs will be recomputed, but the threshold will remain frozen from what was used in the first freeze.<br>
Rationale: When IPRs are recomputed, both individual IPRs and thresholds were computed to meet the number of players in each buckey. This created a lot of volatility for players on the boundaries, as a player improving could actually drop in IPR based on who joined other teams. Instead, the thresholds will be computed prior to the freeze before week 1; thus a player only goes up in IPR by playing better, or goes down by not playing well; they won't change IPR because of who joins other teams.</li>
</ul>

Similar to last season, IPRs will be updated once before the season begins, once mid-season, and once during playoffs. Here are the expected dates for those updates:
<ul>
<li>IPRs will remain frozen through Aug 31st. Any roster changes made in August will be based on the currently-frozen IPRs. Roster changes made in September will be done after the new freeze that will use the updated thresholds.</li>

<li>IPRs frozen on Sep 1 will apply until the mid-season update is published, which will be approximately after Week 5 results are captured in matchplay.events, prior to start of Week 7. The pre-playoff freeze of IPRs will occur approximately after Week 10 results are captured in matchplay.events, prior to start of playoffs. We'll post in this captain's group at least one week before a freeze update that it is coming. A freeze update will be performed at least 4 days prior to a league night to allow teams to lock-in subs; if for any reason that becomes not feasible, we'll postpone the IPR freeze by one week.</li>
</ul>

<h2>Some Helpful Links</h2>
<ul class="links">
<li><b><a href="/signup">SIGN-UP HERE</a></b></li>
<li><a href="/rules">League Rules</a></li>
<li><b><a href="/MNP_HOWTO_venue_machines.mp4">How to add machines during a match (Video)</a></b></li>
<li><a href="/new-teams">Rules for Expansion Teams</a></li>
<li><a href="http://facebook.com/SeattleMondayNightPinball">Monday Night Pinball on Facebook</a></li>
<li><a href="https://www.facebook.com/groups/1629793610612232/">MNP Subs Group on Facebook</a></li>
<li><a href="https://github.com/mondaynightpinball/main">MNP on GitHub</a></li>
<li><a href="/F16/scoresheetV5.pdf">PDF Scoresheet</a></li>
<li><a href="http://pinballstats.info/MNP-timing/">Match Timing Analysis</a></li>
<!-- TODO Add the report-an-issue page
<li><a href="/report-an-issue">Report an Issue</a> with the MNP website, scoring, standings, or other technical concerns.</li>
-->
<li>Players must be 21+ to join</li>
</ul>

Seattle’s Monday Night Pinball league has established a set of five core values that best define the spirit of the league, and are used to navigate decision making. The values are:

<ul>
<li>Sportsmanship</li>
<li>Community</li>
<li>Learning</li>
<li>Competition</li>
<li>Fun</li>
</ul>

We encourage players to keep all five values in mind as a basis for their participation in the league.
