<h2>Monday Night Pinball</h2>

<p>
  Monday Night Pinball is a friendly competitive pinball bar league that aims to build interest in the hobby and encourage players and their teams to grow together.
</p>

<h3><a href="http://pinballstats.info/search/">PLAYER LOOKUP</a></h3>
<h3><a href="/signup">SIGN-UP HERE</a></h3>
<hr>

<h3>Congratulations to Fall 2018 Champions</h3>
<ul>
  <li>Div 1: Full Tilt Ballard's Soda Jerks</li>
  <li>Div 2: The Getaway Tavern's Eighteen Ball Deluxe</li>
</ul>

<!--
<h3><a href="/bracket.jpg">PLAYOFF BRACKET</a></h3>
-->
<h3>Spring 2019 Updates</h3>
<ul>

<li>Team and Division Changes:
  <ul>
  <li>Drain Freeze at The Ice Box: retaining the name of the disbanded Narwhal Drain Freeze, several players from that team branded together to form a new team with a new home location.</li>
  <li>Tilt &amp; Destroy at Coindexter's: Coinhole Surfers disbanded, and this new team fills the void to keep Coindexter's as a two-team location.</li>
  <li>Slap Kraken Pop is a new team at a new location, the Kraken Bar and Lounge in the U district. While the location has been around for years, having a full gameroom is a welcomed new addition!</li>
  <li>Eighteen Ball Deluxe and Seacorns promoted to Division 1. </li>
  <li>Stranger Slings changes their name to match their initials DTP, and are relegated back to Division 2 that they won two seasons ago.</li>
  <li>The B Team at 4B's disbanded.</li>
  <li>Division 1 remains at 12 teams and Division 2 remains at 14 teams.</li>
  </ul>

<li>Rule Changes:
  <ul>
  <li>Coming Soon. Nothing major.</li>
  </ul>

<li>Approximate IPR Freeze Dates:
  <ul>
  <li>Pre-Season update: Feb 4</li>
  <li>Mid-Season update: Mar 19</li>
  <li>Pre-Playoff / <a HREF="http://nwpas.wapinball.net/">NWPAS</a> update: Apr 30</li>
  </ul>

</ul>

<h2>Some Helpful Links</h2>
<ul class="links">
<li><b><a href="/signup">SIGN-UP HERE</a></b></li>
<li><a href="/rules">League Rules</a></li>
<li><b><a href="/MNP_HOWTO_venue_machines.mp4">How to add machines during a match (Video)</a></b></li>
<li><a href="/new-teams">Rules for Expansion Teams</a></li>
<li><a href="http://facebook.com/SeattleMondayNightPinball">Monday Night Pinball on Facebook</a></li>
<li><a href="https://www.facebook.com/groups/1629793610612232/">MNP Subs Group on Facebook</a></li>
<li><a href="https://github.com/mondaynightpinball/main">MNP on GitHub</a></li>
<li><a href="/F16/scoresheetV5.pdf">PDF Scoresheet</a></li>
<li><a href="/schedule_s19.pdf">PDF Schedule</a></li>
<!-- TODO Add the report-an-issue page
<li><a href="/report-an-issue">Report an Issue</a> with the MNP website, scoring, standings, or other technical concerns.</li>
-->
<li>Players must be 21+ to join</li>
</ul>

Seattle’s Monday Night Pinball league has established a set of five core values that best define the spirit of the league, and are used to navigate decision making. The values are:

<ul>
<li>Sportsmanship</li>
<li>Community</li>
<li>Learning</li>
<li>Competition</li>
<li>Fun</li>
</ul>

We encourage players to keep all five values in mind as a basis for their participation in the league.
