<h2>Monday Night Pinball</h2>

<p>
  Monday Night Pinball is a friendly competitive pinball bar league that aims to build interest in the hobby and encourage players and their teams to grow together.
</p>

<h3>Spring 2018 Updates</h3>
<ul>
  <li>
    NEW TEAM LOCATION REQUIREMENTS EXCEPTION: Any team whose intended “home field” will not meet location requirements before the start of the season may play at a board-approved location until their intended home location is ready. This only applies to new venues that are projected to meet league requirements within the current season. To do this, the team must make the request to the board by the deadline for location changes prior to the start of the season.
  </li>
  <li>
    DIVISIONS: There are two divisions of 12 teams each, called Division 1 and Division 2, divided based on Fall 2017 MNP regular season results. For Spring 2018, Division 1 consists of the top 12 teams from Fall 2017 and Division 2 consists of all other teams from Fall 2017 as well as all new teams.
    <div class="indent italic">
      Note: this is a trial divisional organization. If the board decides to continue use of this model, approx. 4-6 teams in each division will swap divisions to provide variety from one season to the next. The current plan is to use a promotion/relegation system using team standings within the divisions once the season is complete. There are several possible systems to redistribute teams in subsequent seasons, as well as the possibility of discontinuing the use of divisions which will all be reviewed by the board before the Fall 2018 season.
    </div>
  </li>
  <li>
    Increase to 11 week regular season + 3 weeks of playoffs. Each team will play every other team within their division (i.e. full round robin) to ensure equal strength schedules for all teams in the same division.
  </li>
  <li>
    Separate Division 1 and Division 2 playoffs, with a champion declared in each division; there will be trophies for 1st, 2nd and 3rd place teams in both divisions.
  </li>
  <li>
    Top 6 teams in each division make it to playoffs. Top 2 teams in each division earn a bye directly to that division's semi-finals.
  </li>
  <li>
    INDIVIDUAL PLAYER RATINGS and TEAM RATINGS: Under the previous system, player strength and team strength cap was determined based solely on IFPA rankings. The new system uses combined IFPA/matchplay.events/MNP performance to determine constraints for which players can join a team, either as a roster member or as a substitute.
    <div class="indent">
      <span class="italic">Individual Player Rating (IPR)</span> - players are assigned a number 1-6 which indicates player strength and is calculated based on IFPA/matchplay.events/MNP performance. A rating of 1 indicates a novice player and 6 indicates a very strong player (roughly corresponding to the IFPA top 150)
    </div>
    <div class="indent">
      <span class="italic">Team Rating</span> - the sum of all IPR on the team roster. The maximum Team Rating for allowing roster additions or subs is 40. The Team Rating may exceed 40 for returning league teams who have the same players as in the previous season, or who have players that improve their IPR and remain on the team. The MNP Ratings Spreadsheet will be used to track Team Ratings and IPR.
    </div>
    <div class="indent">
      The IPRs will be refreshed three times during the season: once before the start of the season, once at the midpoint of the season, and once before playoffs begin. An announcement will be made to captains each time the IPRs are updated.
    </div>
    <div class="indent">
      The Team Ratings will be updated each time the IPRs are updated, as well as each time a team makes a roster change.
    </div>
    <div class="indent">
      A team that is near or exceeds the Team Rating Cap will be constrained to use subs or new roster players with a team rating of 1 or 2. See rules for Substitutes for a more detailed explanation.
    </div>
  </li>
  <li>
    NEW MAJOR MALFUNCTION RULING EXCEPTION:  a player who is awarded a compensation ball due to a major malfunction may choose to play an earned extra ball as the compensation in lieu of one ball in a fresh game after the current game has ended.
    <span class="italic">See extra ball and malfunction rules for additional details.</span>
  </li>
  <li>
    MNP IS NOW OPEN SOURCE - We have the code for this site on <a href="https://github.com/mondaynightpinball/main">GitHub</a>. We also track issues there, so you can see what we are working on, and whether a bug or feature request is already reported.
  </li>
</ul>

<h2>Some Helpful Links</h2>
<ul class="links">
<li><b><a href="/signup">SIGN-UP HERE</a></b></li>
<li><a href="/rules">League Rules</a></li>
<li><b><a href="/MNP_HOWTO_venue_machines.mp4">How to add machines (Video)</a></b></li>
<li><a href="/new-teams">Rules for Expansion Teams</a></li>
<li><a href="http://facebook.com/SeattleMondayNightPinball">Monday Night Pinball on Facebook</a></li>
<li><a href="https://www.facebook.com/groups/1629793610612232/">MNP Subs Group on Facebook</a></li>
<li><a href="https://github.com/mondaynightpinball/main">MNP on GitHub</a></li>
<li><a href="/F16/scoresheetV5.pdf">PDF Scoresheet</a></li>
<li><a href="http://pinballstats.info/MNP-timing/">Match Timing Analysis</a></li>

<!-- TODO Add the report-an-issue page
<li><a href="/report-an-issue">Report an Issue</a> with the MNP website, scoring, standings, or other technical concerns.</li>
-->
<li>Players must be 21+ to join</li>
</ul>

Seattle’s Monday Night Pinball league has established a set of five core values that best define the spirit of the league, and are used to navigate decision making. The values are:

<ul>
<li>Sportsmanship</li>
<li>Community</li>
<li>Learning</li>
<li>Competition</li>
<li>Fun</li>
</ul>

We encourage players to keep all five values in mind as a basis for their participation in the league.
