<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>League Rules for Monday Night Pinball</title>
  <style type="text/css">
    h1 {margin: 20.0px 20.0px 15.0px 10.0px; line-height: 31.0px; font: 26.7px Arial; color: #000000; -webkit-text-stroke: #000000}
    h2 {margin: 20.0px 20.0px 15.0px 10.0px; line-height: 24.0px; font: 21.3px Arial; color: #000000; -webkit-text-stroke: #000000}
    p {margin: 5.0px 20.0px 5.0px 10.0px; line-height: 17.0px; font: 14.7px Arial; color: #000000; -webkit-text-stroke: #000000}
    p.doc_title {margin: 0.0px 20.0px 0.0px 10.0px; text-align: center; line-height: 40.0px; font: 34.7px Arial; color: #000000; -webkit-text-stroke: #000000}
    p.last_updated {margin: 0.0px 20.0px 0.0px 10.0px; text-align: center; line-height: 17.0px; font: 14.7px Arial; color: #000000; -webkit-text-stroke: #000000}
    p.toc0 {margin: 5.0px 20.0px 5.0px 10.0px; line-height: 17.0px; font: 14.7px Arial; color: #0e24b2; -webkit-text-stroke: #0e24b2}
    p.toc1 {margin: 2.5px 20.0px 2.5px 24.0px; line-height: 17.0px; font: 14.7px Arial; color: #0e24b2; -webkit-text-stroke: #0e24b2}
    p.note {margin: 0.0px 20.0px 0.0px 10.0px; line-height: 17.0px; font: 14.7px Arial; color: #0000ff; -webkit-text-stroke: #0000ff}
    ul {list-style-position: inside;list-style-type: square;}
    li {margin: 5.0px 20.0px 5.0px 10.0px; line-height: 17.0px; font: 14.7px Arial; color: #000000; -webkit-text-stroke: #000000}
    li.indent0 {margin: 5.0px 20.0px 5.0px 36.0px; line-height: 17.0px; font: 14.7px Arial; color: #000000; -webkit-text-stroke: #000000}
  </style>
</head>
<body>
<p class="doc_title">League Rules for Monday Night Pinball</p>
<p class="last_updated">V4.04 (Last updated: 2020-1-30 by Stephen Rakonza)</p>
<br/>
<br/>
<p class="toc0"><a href="#L0.00">L0.00 - Overview</a></p>
<p class="toc1"><a href="#L0.01">L0.01 - Version History</a></p>
<p class="toc1"><a href="#L0.02">L0.02 - Terms</a></p>
<p class="toc0"><a href="#L1.00">L1.00 - Venue</a></p>
<p class="toc1"><a href="#L1.01">L1.01 - Requirements</a></p>
<p class="toc1"><a href="#L1.02">L1.02 - League Worthiness of Machines</a></p>
<p class="toc1"><a href="#L1.03">L1.03 - New Venues</a></p>
<p class="toc0"><a href="#L2.00">L2.00 - Team</a></p>
<p class="toc1"><a href="#L2.01">L2.01 - Captains</a></p>
<p class="toc1"><a href="#L2.02">L2.02 - Roster</a></p>
<p class="toc1"><a href="#L2.03">L2.03 - Restrictions (Team IPR)</a></p>
<p class="toc1"><a href="#L2.04">L2.04 - Expansion Team</a></p>
<p class="toc0"><a href="#L3.00">L3.00 - Player</a></p>
<p class="toc1"><a href="#L3.01">L3.01 - Conduct</a></p>
<p class="toc1"><a href="#L3.02">L3.02 - Solo Players Looking for a Team</a></p>
<p class="toc0"><a href="#L4.00">L4.00 - Season</a></p>
<p class="toc1"><a href="#L4.01">L4.01 - Divisions</a></p>
<p class="toc1"><a href="#L4.02">L4.02 - Standings</a></p>
<p class="toc1"><a href="#L4.03">L4.03 - Playoff Seeding/Bracket</a></p>
<p class="toc0"><a href="#L5.00">L5.00 - Board of Directors</a></p>
<p class="toc1"><a href="#L5.01">L5.01 - Commissioners</a></p>
<p class="toc1"><a href="#L5.02">L5.02 - Advisors</a></p>
<p class="toc1"><a href="#L5.03">L5.03 - Advisor Selection</a></p>
<p class="toc1"><a href="#L5.04">L5.04 - Current Board of Directors</a></p>
<br/>
<h1 id="L0.00">L0.00 - Overview</h1>
<p>Monday Night Pinball is a co-ed team league where each team has a host bar, which serves as the team's "home." Once a week for the duration of the season, each team will compete against another team in their league, either at "home" or as the visiting team at their opponent's bar. Each team will score match points based on the results of the individual pinball games. At the end of each match, the team with the most points will record a win, while the other team will record a loss. League standings are determined based on a simple win/loss record then cumulative match points as the main tiebreaker.</p>
<h2 id="L0.01">L0.01 - Version History</h2>
<ul>
  <li><b>2020-1-30 by Stephen Rakonza</b>: 4.04 Board of Directors section added, minor fixes and clarifications.</li>
  <li><b>2019-10-23 by Stephen Rakonza</b>: 4.03 No new content, just cleanup and simplify HTML.</li>
  <li><b>2019-10-14 by Stephen Rakonza</b>: 4.02 Fixed link to Match Rules.</li>
  <li><b>2019-08-22 by Stephen Rakonza</b>: 4.01 Minor changes, renumbered with L prefix, final proposed draft for Fall 2019 season.</li>
  <li><b>2019-07-25 by Stephen Rakonza</b>: 4.00 Initial version of separated League Rules.  Nearly all League Rules come from a variety of existing sources (web site, previously combined MNP rules), Terms added.</li>
  <li><b>2018 by MNP Board</b>: 3.x  Seasons 9-11, rewrite in Google Docs by MNP Board</li>
  <li><b>2014-08 by Geoff Simons &amp; Dave Stewart</b>: 2.x  Season 2-8 HTML</li>
  <li><b>2014-01 by Geoff Simons &amp; Dave Stewart</b>: 1.0  Original Rules, Season 1</li>
</ul>
<h2 id="L0.02">L0.02 - Terms</h2>
<ul>
  <li><b>Bar: </b>See Venue.  These terms are used interchangeably.</li>
  <li><b>Expansion Team: </b>A new team to the league, or an existing team with significant roster changes.</li>
  <li><b>Game:</b>a game is played on a machine (see Machine below).</li>
  <li><b>IPR</b>: Individual Player Rating is a numeric, whole number, value from 1 to 6.  This number is a representation of a player’s pinball skill, over a period of time.  Skilled players have a higher rating value.  A player with no source data will have the lowest rating value of 1 <a href="http://pinballstats.info/search">http://pinballstats.info/search</a></li>
  <li><b>Location:</b> see Venue below</li>
  <li><b>Machine:</b> a machine is a physical pinball machine (NOT to be referred to as a game).  A machine doesn’t have a score; a game has a score.</li>
  <li><b>Match:</b> A competition between two Monday Night Pinball teams, the details of which are outlined in <a href="matchrules.html">Match Rules for Monday Night Pinball</a>.</li>
  <li><b>Member / Team Member: </b>A person registered with the league as a rostered member of a team.</li>
  <li><b>MNP:</b> Monday Night Pinball</li>
  <li><b>Player: </b>Within the context of a match: a player is a person designated to participate in the match.  Outside the context of a match: a player is a person eligible to participate in a Monday Night Pinball match.</li>
  <li><b>Roster: </b>A team’s registered members.</li>
  <li><b>Round: </b>A match occurs as a series of 4 rounds: two singles rounds, two doubles rounds, with an optional tie breaker round.</li>
  <li><b>Schedule: </b>a season’s published matches</li>
  <li><b>Sub / Substitute: </b>A person listed on a team’s lineup, but not currently on the team’s roster.</li>
  <li><b>Team Rating:</b> The sum of each roster player’s IPR.  In the context of a match - the sum of each player’s IPR on the lineup.</li>
  <li><b>Tournament</b>: IFPA Rules apply within the context of a tournament.  For the purposes of MNP Rules, the word “Tournament” shall be treated as a synonym for “Match”.</li>
  <li><b>Tournament Director (TD)</b>: IFPA Rules apply within the context of a tournament.  TD in an MNP Match are the Captains or the MNP Commissioner of Rules and Regulations (Dave Stewart).</li>
  <li><b>Venue:</b> a location, meeting all of the league’s requirements to host an MNP match.</li>
</ul>
<h1 id="L1.00">L1.00 - Venue</h1>
<p>L1.00.0: Each team in the league has a home venue. The venue must meet the requirements listed in this section.</p>
<h2 id="L1.01">L1.01 - Requirements</h2>
<ul>
    <li>L1.01.0: Location must have a minimum of 8 machines in league-worthy condition. See information below on description of <a href="#L1.02">league-worthy</a>.</li>
  <li>L1.01.1: A location may host no more than two teams.</li>
  <li>L1.01.2: A location may only host one new team in any given season, be it an expansion team or an existing team relocating.</li>
  <li>L1.01.3: A newly opening location must already be open by the application deadline date. If not, the expansion team request needs to be for an alternate location that is capable of hosting the team, but they can specify their interest to move to the new location when it opens.</li>
  <li>L1.01.4: The pinball area at the location must be big enough to accommodate at least 24 players (20 players plus a few guests).</li>
  <li>L1.01.5: No cover charge for location. Players are expected to pay for play, but should not need to pay anything beyond that. An exception is if cover charge is $5 or less per person and all machines are on free play, on both league nights and when players go to practice.</li>
  <li>L1.01.6: Location must sell at least beer or wine (i.e. must have liquor license). This is a barcade league, not a family league!</li>
  <li>L1.01.7: Location must be open (or willing to stay open) until at least midnight on league nights. If they close before midnight, they must also be willing to stay open on league nights until the end of the match.</li>
</ul>
<h2 id="L1.02">L1.02 - League Worthiness of Machines</h2>
<p>L1.02.0: A machine is league-worthy if it meets the following criteria:</p>
<ul>
  <li>L1.02.0a: Machine is primarily pinball. A machine with a video mode is OK, but a machine in which more than 10% of the time is in video mode, or for which you can lose your turn by losing video mode instead of draining a ball, are not eligible.</li>
  <li>L1.02.0b: All switches are registering (it’s ok if one switch is not registering but is not crucial to game play that nobody really complains about it). Shots or features not working but have suitable compensation enabled (like disabling claw in Demolition Man) is acceptable.</li>
  <li>L1.02.0c: Lower flippers are strong enough to hit every shot, even after the machine has been in constant use for 30 minutes. Upper flippers are strong enough to make crucial shots (a broken upper flipper on some games like Mars Trek is acceptable, but on most games it isn’t).</li>
  <li>L1.02.0d: Most (preferably all) lights are working. Key lights are all working.</li>
  <li>L1.02.0e: Playfield is reasonably clean, and doesn’t have a year of grime build-up.</li>
  <li>L1.02.0f: Balls rarely get stuck.</li>
  <li>L1.02.0g: Machine does not regularly glitch, such as resetting mid-game, ending balls prematurely, creating arbitrary multi-balls or not serving multiple balls during multi-ball, etc. A machine that does this rarely (e.g. at most once a day) is ok; if it happens in that case, malfunction rules apply. If it’s happening more frequently, the machine is not league worthy.</li>
</ul>
<h2 id="L1.03">L1.03 - New Venues</h2>
<p>L1.03.0: A new venue will be evaluated for possible play upon request to the MNP Board. A board member will visit the venue and approve if it meets the Venue requirements.</p>
<br/>
<p>L1.03.1: Once a venue is approved, a team can list that venue as their choice for home venue six weeks prior to a season. That venue can also be used as a backup location if an existing venue fails to have at least five working machines.</p>
<br/>
<p>L1.03.2: If a new venue is not yet open six weeks prior to start of season, then the team must pick a different venue as their home, and make a request to move to the new venue once it is approved. If such a request is not made prior to the season start, then the team will need to wait until the following season to move to that venue.</p>
<h1 id="L2.00">L2.00 - Team</h1>
<p>L2.00.0: Teams consist of at least 8 players, and no more than 10.  Of these, one player will act as the Team Captain. A second player must be named as a co-captain.</p>
<br/>
<p>L2.00.1: The team must have a designated venue, which shall host the “home” matches.  At least six weeks prior to start of a season, per published deadlines, both returning teams and expansion teams must declare their home venue.</p>
<h2 id="L2.01">L2.01 - Captains</h2>
<p>L2.01.0: The team’s Captain and Co-Captain are collectively referred to as the team’s Captains.  Captains are responsible for organizing their team and corresponding promptly with the league about rosters, scoring and scheduling. Captains also serve as team representatives in each of the matches.</p>
<br/>
<p>L2.01.1: The captains must meet the following requirements.</p>
<ul>
  <li>L2.01.1a: Captain and co-captain must each have already played in at least one full season in MNP.</li>
  <li>L2.01.1b: Captains and co-captains should have a Facebook account, and must be part of the Facebook Monday Night Pinball Captains group, as that is how communication with captains from the league occurs. Alternately, a captain may designate a proxy with a Facebook account, to handle correspondence with league officials.  Captains without a Facebook account must supply the MNP Board with a contact email address and a phone number where they can accept text messages.</li>
</ul>
<br/>
<p>L2.01.2: Captains must be declared for each team prior to season, as they are given access to Facebook Captains group to help coordinate the season, and special software access for league nights.</p>
<br/>
<p>L2.01.3: If neither captain can attend league night, a substitute captain must be declared. It should be a roster player with at least one full season played. If there is no such player, then the player with the most experience should be named. Whoever is named should touch base with the opposing team captain prior to the match for a quick tutorial on using the software.</p>
<br/>
<p>L2.01.4: Mid-season changes in captains, or a temporary substitute captain, need to be made at least 48 hours prior to the match to the Board, so that appropriate software permissions can be put into place for league night software.</p>
<h2 id="L2.02">L2.02 - Roster</h2>
<p>L2.02.0: The names of each player on the team must be submitted by the captain to league officials six weeks prior to the start of each season.</p>
<br/>
<p>L2.02.1: Roster changes may be made at anytime throughout the season. Roster changes must be made more than 24 hours before a match; otherwise players involved will fall under the substitution rules.  Roster changes made within 24 hours, will be applied after the match.</p>
<h2 id="L2.03">L2.03 - Restrictions (Team IPR)</h2>
<p>L2.03.0: In an effort to maintain competitiveness throughout the league, team restrictions are used to prevent a team from loading up with too many top players, and helping distribute the top players to different teams across the league. For roster members, team restrictions are reconsidered each time there is a roster change. The new roster cannot violate the team restrictions, otherwise the change is not approved by the league.</p>
<br/>
<p>L2.03.1: Following are the details of the team restrictions.</p>
<ul>
  <li>L2.03.1a: Individual Player Rating (IPR) is a rating of 1 (novice) to 6 (very strong) for each player, which is computed based on their<a href="https://www.ifpapinball.com/players/find.php"> IFPA World Ranking (IFPA Rank)</a> and<a href="https://matchplay.events/live/ratings">Matchplay.events Rating (MBR)</a></li>
  <li>L2.03.1b: The distribution of IPR for all players in the league is on a curve.  1 is a novice player; 2 is below the median, 3 through 6 are above the median.  Bottom 30% of eligible players receive an IPR of ‘1’; the top 5% of players are assigned a 6 - this applies to the players who are ranked in (or close to) the IFPA top 250 worldwide, or who have a rating on par with those worldwide rankings.  The curve is re-evaluated at each IPR freeze, to retain the specified percentiles despite roster changes that may happen throughout the season.</li>
  <li>L2.03.1c: The IPR data will be recomputed three times each season. When recomputed, the IPRs then become fixed for each player until the next recomputation. This enables teams to plan ahead for substitutes and roster changes and not have to worry about an IPR changing the night of an event because of newly reported data. The approximate “freeze” dates will be posted on the home page each season, and will occur approximately one week before week 1, once mid-season, and once just before playoffs.</li>
  <li>L2.03.1d: The IPR data displayed on the website is stored in a back-end <i>MNP Ratings Spreadsheet</i>, not directly accessible to the public, but available for review by Captains and the Board of Directors should the need arise.  The computed IPRs are included throughout the website alongside player names, and available in a player search website for access by the public.</li>
  <li>L2.03.1e: The spreadsheet includes the MNP Ratings for every roster player. The spreadsheet also includes players who may not currently be on a team roster, but who have been a sub or played as a roster member for the league in the past.</li>
  <li>L2.03.1f: The algorithm for converting from IFPA Rank and MPR to an IPR is provided in the RP Method tab of the spreadsheet.</li>
  <li>L2.03.1g: Team Rating is the sum of IPR for all roster players on a team, as shown on the Teams tab of the spreadsheet.</li>
  <li>L2.03.1h: Team Rating Cap is the Team Rating value at which a team is constrained and is used to determine which players they can add to the roster or as subs. The team rating cap for Spring 2019 is 40 for 10 players, 39 for 9 players, 38 for 8 players.</li>
  <li>L2.03.1i: A team cannot add a new player with Individual Player Rating (IPR) of 2 or higher as a sub or roster member, if it would cause the team rating to exceed a cap (see above rule L2.03.1h).  A team at or above the cap can only add novice/new players (IPR 1) to their roster.</li>
  <li>L2.03.1j: For a player that plays regularly but new to MNP, use the following tool to determine a player's rating: PLAYER LOOKUP on MNP Home Page.</li>
  <li>L2.03.1k: New players with no rating and no IFPA record are given an IPR of 1.</li>
  <li>L2.03.1l: If a captain is uncertain of a player's IPR using the methods above, and it could affect whether or not a particular sub or roster player can be used, then contact the Rules Commissioner to obtain a ruling on that player's eligibility.</li>
  <li>L2.03.1m: A team cannot add a roster player with IPR=6 if there is already one player with IPR=6 on the roster.</li>
  <li>L2.03.1n: A team cannot add a substitute player with IPR=6 if there is already a player with IPR=6 in the match’s lineup.</li>
  <li>L2.03.1o: Note that rating data will never be perfect. However, it is the best we have to keep a balance and prevent the creation of a super-team that can never lose.</li>
  <li>L2.03.1o.0: The Team Restrictions are also in place to encourage strong teams to add novice players to their rosters. More experienced/stronger players then become role models and coaches for players who are just starting to learn.</li>
  <li>L2.03.1o.1: League officials reserve the right to assign an IPR to a player higher or lower than what is computed, if it can be shown that due to insufficient or erroneous data, a player's IPR as shown in the spreadsheet or with the calculator is incorrect by at least 2. If it's an off-by-one issue, then the value in the ratings spreadsheet or calculator will be used. +/- 1 manual corrections will not be made.</li>
  <li>L2.03.1p: Since MNP relies on public data in both the IFPA and Matchplay.event databases, we do not support the suppression of players. We believe it is a necessary public metric for fair competitive play. While Matchplay.events does not allow players to suppress themselves, IFPA does. Matchplay ratings alone will be used for players who have suppressed themselves from IFPA, unless the player is known to have played in major tournaments, in which case they will be assigned an automatic IPR of 6.</li>
</ul>
<h2 id="L2.04">L2.04 - Expansion Team</h2>
<p>L2.04.0: A new team may apply for acceptance into the league, and must meet the requirements listed in this document. Deadline to apply is approximately six weeks before season starts; the date will be published on the website prior to each season. An existing team that is requesting a move to a new location must also meet the location requirements listed in this document, and must apply for the change by the same expansion team deadline date.</p>
<br/>
<p>L2.04.1: The spots are limited, and MNP will not necessarily wait for everyone to apply; thus even though a deadline date is specified, applying early does increase the chances of earning one of the expansion slots. If there are not sufficient qualified teams applying by the deadline date, the league may choose to not expand. Any expansion team granted will be assigned to Division 2. Division 1 will remain at exactly 12 teams.</p>
<br/>
<p>L2.04.2: The proposed captain or co-captain for a new team is responsible for submitting the team expansion application, and individual players interested in the team are responsible for individually signing up. Provide as much advance notice as possible to one of the board members of your intent to create a team. This will allow the board to inform you of any upcoming changes or concerns that can affect your expansion application.</p>
<br/>
<p>L2.04.3: The application is to be emailed by the proposed captain to <a href="mailto:info@mondaynightpinball.com">info@mondaynightpinball.com</a>, and must include the following:</p>
<ul>
  <li>Proposed Home Location</li>
  <li>Proposed Team Name</li>
  <li>Names of Captain and Co-Captain</li>
  <li>Names of at least 6 (up to 8) other COMMITTED players (see below)</li>
  <li>Name and contact info of the location owner or operator who is approving the team at their location.</li>
</ul>
<br/>
<p>L2.04.4: In order for each player to show they are committed to the new team, they should <a href="https://www.mondaynightpinball.com/signup">SIGN UP</a> to confirm their interest, indicating the proposed new team as their first (and optionally only) choice. If the person is moving from another team, and would like to retain the spot on the other team if there is no expansion team, they should list that team as their second choice.</p>
<br/>
<p>L2.04.5: Proposed Captains and Co-Captains should also request to join the <a href="https://www.facebook.com/groups/280092795481317/">MNP Captain's Facebook Group</a> as Facebook messaging and Groups is the primary means for keeping in touch with captains.</p>
<h1 id="L3.00">L3.00 - Player</h1>
<p>L3.00.0: A person may substitute, or become a roster member for any team, at any time throughout the season, with the following restrictions.</p>
<ul>
  <li>L3.00.0a: the person played fewer than 6 matches with a single other team.  A player that has played 6 or more matches with a team, the player is ‘locked’ into that team for the playoffs.</li>
  <li>L3.00.0b: the person is not listed on the roster of any other league team.</li>
  <li>L3.00.0c: the person is not a minor (must be 21 by the date of the team’s next match).</li>
  <li>L3.00.0d: the person is not a Suppressed Player on IFPA.</li>
  <li>L3.00.0e: the person is not suspended from the league.</li>
  <li>L3.00.0f: the person is not expelled or banned from the league.</li>
  <li>L3.00.0g: the person is not banned from participating in pinball events by another organization (such as IFPA, PAPA, NWPAS, NWPC); the MNP Board will make a determination on whether a banned player is allowed in the league.</li>
</ul>
<br/>
<p>L3.00.1: A player banned from one or more locations may still play in MNP, but will require a sub for any matches scheduled at a location to which the player is banned.  Furthermore, a player may not play as a roster member nor as a sub, for a team that has a home location to which the player is banned.</p>
<h2 id="L3.01">L3.01 - Conduct</h2>
<p>L3.01.0: There is a conduct section in the <a href="matchrules.html">Match Rules for Monday Night Pinball</a> (M6.00 - Player Conduct).  The player conduct described there should be honored any time playing at a Monday Night Pinball venue.</p>
<h2 id="L3.02">L3.02 - Solo Players Looking for a Team</h2>
<p>L3.02.0: Players who are interested in joining a team, whether it be an existing team with new openings, or a new expansion team, should <a href="https://www.mondaynightpinball.com/signup">SIGN UP</a> to indicate their interest, or by sending a message to a league official personally confirming their interest. League officials can be reached via email: <a href="mailto:info@mondaynightpinball.com">info@mondaynightpinball.com</a>. Up to three teams or locations can be listed in order of preference. Also feel free to list areas instead of teams, like “South of City” or “Ballard”. Players will be contacted by team captains or league officials based on availability of spots. Ultimately it is a team’s captain decision, not a league decision, on any player joining a specific team.</p>
<h1 id="L4.00">L4.00 - Season</h1>
<p>L4.00.0: The regular season consists of 11 weeks of round robin play within two separate divisions.  There is a fall season, beginning roughly around the beginning of September, and ending with playoffs in early December.  There is a spring season, beginning roughly end of January, and ending with playoffs in May.</p>
<ul>
  <li>L4.00.0a: Roughly half of matches will be at the team's home venue. The remaining will be away.</li>
  <li>L4.00.0b: The full schedule will be created and distributed prior to the start of the season.</li>
  <li>L4.00.0c: Number of teams, conference organization, and distribution of matches may change from season to season, depending on the number and location of teams that season.</li>
</ul>
<p>L4.00.1: The typical season schedule is the following:</p>
<ul>
  <li>L4.00.1a: About six weeks prior to season, deadline for teams to apply for next season (includes both returning and expansion teams)</li>
  <li>L4.00.1b: About 3 weeks prior to season, draft schedule published for captains only</li>
  <li>L4.00.1c: About 2 weeks prior to season, final schedule published and distributed</li>
  <li>L4.00.1d: Week 1 is typically Monday after Labor Day in Fall, and late January in Spring.</li>
  <li>L4.00.1e: 11 regular season weeks</li>
  <li>L4.00.1f: 3 Playoff weeks.</li>
  <li>L4.00.1g: 1 week after Playoff week reserved for makeup</li>
</ul>
<p>L4.00:2: If a week is canceled for any reason (eg weather), then all regular scheduled weeks continue on date per schedule. The canceled week will be played as week 12, and playoffs pushed one week, with finals now on that makeup date.</p>
<h2 id="L4.01">L4.01 - Divisions</h2>
<p>L4.01.0: The league is structured in two divisions, called Division 1 and Division 2. Division 1 was initially established with the 12 strongest teams in the league. Each season through promotion, relegation, disbanding, and expansion, the teams in this division are adjusted. All remaining teams are in Division 2.</p>
<br/>
<p>L4.01.1: Expansion teams are always added to Division 2. Teams in Division 1 that lose more than 5 of their players between seasons will automatically be disbanded and must re-apply as an expansion team, and will re-enter in Division 2.</p>
<br/>
<p>L4.01.2: Relegation / Promotion: After each season, the highest ranked teams in Division 2 will be promoted to Division 1. Some lowest-ranked teams in Division 1 will be relegated to Division 2, in order to keep Division 1 at 12 players. The guidelines for promotion and relegation are the following.  The Board of Directors will make the final decision of who is promoted and relegated, based on applying the following guidelines:</p>
<ul>
  <li>L4.01.2a: A team’s likelihood of being promoted or relegated are based on the number of wins they obtain during the season, including playoff wins. The objective is to keep teams balanced in each division, while to the extent possible having teams on the threshold play in their division of preference.</li>
  <li>L4.01.2b: Teams with at least 11 or more wins (including playoffs) in Division 2 are destined to be promoted to Division 1.</li>
  <li>L4.01.2c: Teams with 8 or less wins (including playoffs) are destined to remain in Division 2.</li>
  <li>L4.01.2d: Teams with 2 or less wins in Division 1 are destined to be relegated to Division 2.</li>
  <li>L4.01.2e: Teams with 5 or more wins will remain in Division 1, unless they don't retain at least 5 of their 10 players.</li>
  <li>L4.01.2f: If there's an uneven number of teams eligible for promotion and relegation, then the Board of Directors will decide which Division 2 teams with 9 or 10 wins might also be promoted, and which teams with 3 or 4 wins in Division 1 might also be relegated. If this is not sufficient to ensure exactly 12 teams in Division 1, then only in that case might a team end up in a division different than what they are destined for, based on above bullets.</li>
</ul>
<h2 id="L4.02">L4.02 - Standings</h2>
<p>L4.02.0: League standings are maintained based on win/loss record, with cumulative match points recorded as the first tiebreaker.</p>
<br/>
<p class="note">NOTE: Since match points earned is used to break ties, it is important to play every game during match play. Do not end a match early simply because one team has earned enough points to record a match win.</p>
<br/>
<p>L4.02.1: At the end of the regular season, if two teams have the same record and same number of match points, then their head-to-head result will be considered to break the tie. If they did not play each other, their record vs common opponents will be used to break the tie. If still tied, their points vs common opponents is used. If still tied, the league will flip a coin.</p>
<h2 id="L4.03">L4.03 - Playoff Seeding/Bracket</h2>
<p>L4.03.0: A division with 12 teams - top 6 teams at the end of the regular season make the playoffs; top 2 get a bye.  A division with 13 or 14 teams - top 7 teams make the playoffs; top team gets a bye.  A division with 15 or more teams - top 8 make the playoffs; no teams get a bye.</p>
<p>L4.03.1: WEEK 1 (Quarter-Finals)</p>
<ul>
  <li>L4.03.1a: A division with 12 teams  - top 2 teams get a bye, and home field advantage in week 2.  A division with 13 or 14 teams - top team gets a bye, and home field advantage in week 2.</li>
  <li>L4.03.1b: Team 3 vs Team 6, and Team 4 vs Team 5. A division with 13 or 14 teams has an additional match - Team 2 vs Team 7. A division with 15 or more teams has a 4th match - Team 1 vs Team 8. Matches are played at the higher-seeded teams’ home locations.</li>
</ul>
<p>L4.03.2: WEEK 2 (Semi-Finals)</p>
<ul>
  <li>L4.03.2a: Teams are re-seeded into new bracket</li>
  <li>L4.03.2b: Team 1 vs Team 4, and Team 2 vs Team 3 (matches are played at the higher-seeded teams’ home locations)</li>
</ul>
<p>L4.03.3: FINALS</p>
<ul>
  <li>L4.03.3a: Division 1 Final 4 will compete at a single neutral location, with winners of the semi-finals playing for 1st and 2nd, and losers of the semi-finals playing for 3rd and 4th.</li>
  <li>L4.03.3b: Division 2 Final 4 will compete at a single neutral location, but different than where DIvision 1 finals is occuring.</li>
</ul>
<p>L4.03.4: Except for the championship finals, the team with the higher seed gets home-field advantage, with the match played at their home location. Location of championship finals and consolation finals is a neutral location that is not home for any of the final four teams. Location of these matches is to be announced no later than 48 hours after conclusion of Quarter Finals match, but could be announced earlier if the planned host does not have any home team in the playoffs.</p>
<br/>
<p>L4.03.5: The regular season schedule is created to avoid two matches in the same location, but on rare occasions it can happen, in favor of meeting other scheduling criteria. In Finals, there is always two matches doubled-up, and larger locations are selected as the neutral locations. When there is doubling up, the captains for one of the two matches can agree to start either 15 minutes earlier, with picks at 8:30pm, or 15 minutes later with picks at 9:00pm. As long as the matches are staggered, the night should run smoothly. If captains don't agree on a time shift, then everything starts on schedule at 8:45pm, and the teams simply need to wait for machines when there are conflicts. On these nights, players should not practice between rounds on machines selected for use by the other match.</p>
<br/>
<p>L4.03.6: The neutral venue for finals is selected by the MNP board using the following rules:</p>
<ul>
  <li>L4.03.6a: The venue is selected upon completion of the quarter final round, when semi-finalists (final four) in each division are known.</li>
  <li>L4.03.6b: Two finals venues will be selected each season, one per division.</li>
  <li>L4.03.6c: Only venues that have 15 or more league-worthy machines and ability to support more than 40 players are considered.</li>
  <li>L4.03.6d: The venue must have hosted all home games for least one home team during that season, and never had a match moved to an alternate location due to machine league-worthiness issues.</li>
  <li>L4.03.6e: The venues who have least recently hosted one of the finals will be given top priority.</li>
  <li>L4.03.6f: The venue owner is asked and must agree to host the finals, or that venue is moved back to the bottom of the priority list.</li>
  <li>L4.03.6g: A venue that has a team in semi-finals of each division will be skipped.</li>
  <li>L4.03.6h: A venue with team in one division can be a neutral location for the other division.</li>
</ul>
<br/>
<p>L4.03.7: Based on the above rules, the MNP board identifies the two neutral locations for the finals. The MNP board shall make the choice whenever two venues are 'tied' for highest priority (such as they both hosted 3 seasons ago, so in theory after equal priority from the perspective of how long ago they hosted).</p>
<br/>
<h1 id="L5.00">L5.00 - Board of Directors</h1>
<p>L5.00.0: The league is a 100% volunteer operation, led by the Board of Directors.  The Board of Directors consist of two types of positions: Commissioners and Advisors.</p>
<br/>
<p>L5.00.1: Each division in the league shall have representation on the board by no fewer than two roster members.</p>
<br/>
<p class="note">NOTE: Requirements related to the make-up of the board, are subject to change when/if division structure changes.</p>
<br/>
<h2 id="L5.01">L5.01 - Commissioners</h2>
<p>L5.01.0: Commissioners are responsible for the day-to-day operation of the league, and have indefinite appointments. They are responsible for organizing schedules, rules, format, teams, players, maintain the website, and respond to any issues that may arise during the season. A commissioner’s appointment ends if they voluntarily step down, or the rest of the Board of Directors has a non-confidence vote that a particular commissioner is not adequately executing their responsibilities and/or negatively affecting the league.</p>
<br/>
<p>L5.01.1: Commissioners need not be roster members, and can remain commissioners as long as they continue with the daily and weekly duties their position entails.</p>
<br/>
<h2 id="L5.02">L5.02 - Advisors</h2>
<p>L5.02.0: Advisors on the board of directors have one-year appointments, from June until June the following year.</p>
<br/>
<p>L5.02.1: Advisors must be roster members. If they drop from a roster, they are subject to being replaced.  An advisor selected mid season (per TBD method), will serve a shortened term, still ending June, after the Spring regular season.</p>
<br/>
<p>L5.02.2: Generally there will be three advisors. Additional advisors may be added as needed to maintain minimum representation requirements. (see above rule L5.00.1)</p>
<br/>
<p>L5.02.3: Advisors responsibilities are as follows:</p>
<ul>
    <li>L5.02.3a: Debate and discuss recommended rule changes to help continue to improve the league.</li>
    <li>L5.02.3b: Deliberate on action to be taken for disciplinary issues, including individual, team, or location violations of conduct rules.</li>
    <li>L5.02.3c: Provide feedback and aid as needed to the commissioners to ensure smooth operation of the league throughout the year.</li>
    <li>L5.02.3d: Advisors may also assist commissioners in the day-to-day operation or in organization special events.</li>
</ul>
<br/>
<p>L5.02.4: An Advisor’s appointment may be renewed, by invitation from the commissioners; but at least two advisors will rotate annually.</p>
<br/>
<h2 id="L5.03">L5.03 - Advisor Selection</h2>
<p>L5.03.0: Following conclusion of the Spring regular season, the current advisors on the Board of Directors will step down, and the new advisors will take their place. They will be selected per the following procedure. The bulk of this procedure will be done confidentially by the current board of directors in the interest of respecting the privacy of individuals who are nominated but choose to decline invitations or are not selected. Final selections will be announced publicly once the new advisors are all selected.</p>
<ul>
<li>L5.03.1: Each current board member (advisor or commissioner) can nominate two active MNP players (need not be captains) as potential advisors.</li>
<li>L5.03.2: A list is created with the union of players nominated, keeping track also of anyone nominated more than once.</li>
<li>L5.03.3: Each current board member will sort the list from most preferred to least preferred.</li>
<li>L5.03.4: Nominated players will earn 10 pts for being highest on a board member’s list, 9 pts if 2nd, etc.</li>
<li>L5.03.5: Total points for each nominated player is computed.</li>
<li>L5.03.6: A player nominated more than once has their point total</li>
<li class="indent0">L5.03.6a: A player who was nominated by two different board members, has their total score multiplied by 1.25</li>
<li class="indent0">L5.03.6b: A player who was nominated by three different board members, has their total score multiplied by 1.50</li>
<li class="indent0">L5.03.6c: A player who was nominated by four different board members, has their total score multiplied by 1.75</li>
<li class="indent0">L5.03.6d: A player who was nominated by five or more different board members, has their total score multiplied by 2.00.</li>
<li>L5.03.7: A new list is created, sorted by highest to lower point totals.</li>
<li>L5.03.8: Players in that list are invited to join the board, in that order, assuming their addition would not violate the rules related to the eligibility and makeup of the board. At least two of them must come from the division that is less represented by the commissioners.</li>
<li>L5.03.9: If adding the next highest prioritized player violates one of those constraints, then they are skipped and the next player that meets criteria is invited.</li>
<li>L5.03.10: If an invited player declines the invitation, or chooses to not be a roster member next season, then the next highest priority player on the list is invited.</li>
<li>L5.03.11: The list will be retained during the year, as a reference for additional advisors as needed.</li>
</ul>
<br/>
<p class="note">NOTE: Any player wanting to be nominated, or wanting nominate another player, should make their case to a member of the board before the end of the Spring season.</p>
<br/>
<h2 id="L5.04">L5.04 - Current Board of Directors</h2>
<p>L5.04.0: Current Commissioners are the following:</p>
<ul>
  <li>Dave Stewart, Chief Commissioner</li>
  <li>Geoff Simons, Commissioner of Operations</li>
  <li>Michael Adcock, Commissioner of Information Architecture</li>
  <li>Stephen Rakonza, Commissioner of Rules and Regulations</li>
</ul>
<p>L5.04.1: Current Advisors with terms expiring in June 2020 are the following:</p>
<ul>
  <li>Claire Burke</li>
  <li>(vacated)</li>
</ul>
<p>L5.04.2: Contact info: <a href="mailto:info@mondaynightpinball.com">info@mondaynightpinball.com.</a>  To contact
    chief commissioner directly, you may use Facebook Messenger (<a href="https://www.facebook.com/Stewie000">https://www.facebook.com/Stewie000</a>) or Text Message
    (<a href="sms://open?addresses=14105079020">410-507-9020</a>).</p>
<br/>
</body>
</html>
