{{> head}}
<!-- Team info -->
{{#team.key}}
<table class="table">
<tr>
<td>Team:</td>
<td><a href="/teams/{{team.key}}">{{team.name}}</a></td>
</tr>
<tr>
<td>Team Rating</td>
<td>{{team_rating}}</td>
</table>
{{/team.key}}

{{#canAdd}}
<form action="/matches/{{match_id}}/players/add" method="POST">
<input type="hidden" name="team" value="{{home_or_away}}">

<div class="jumbotron">
  <input type="text" class="form-control" id="name" name="name" list="suggestions" placeholder="Player Name">
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="want_captain">
      SET AS CAPTAIN
    </label>
  </div>
  <button type="submit" name="signup" class="btn btn-primary btn-sm">ADD PLAYER</button>
</div>
</form>
{{/canAdd}}


<table class="table">
<tr class="header-row mt-1">
<td colspan="30">Captains:</td>
</tr>
{{#captains}}
<tr>
<td>{{name}}</td>
<td>{{status}}</td>
{{#canRemove}}
<td>
<form action="/matches/{{match_id}}/players/remove" method="POST">
<input type="hidden" name="team" value="{{home_or_away}}">
<input type="hidden" name="key" value="{{key}}">
<button type="submit" class="btn btn-secondary btn-sm">X</button>
</form>
</td>
{{/canRemove}}
</tr>
{{/captains}}
{{^captains}}<!-- No captains yet. Waiting for some to be invited/join. -->
<tr><td>Waiting...</td></tr>
{{/captains}}
</table>

Lineup: {{lineup.length}} Players
<table class="table">
<tr class="header-row">
<td class="text-xs-center">IPR</td>
<td>Name</td>
<td class="text-xs-center">Games</td>
<td>&nbsp;</td>
</tr>
<!-- One row per player -->
{{#lineup}}
<tr>
<td class="text-xs-center">
  {{#rating}}
  <span class="badge badge-{{rating}}">{{rating}}</span>
  {{/rating}}
</td>
<td>{{name}}{{#sub}} (SUB){{/sub}}</td>
<td class="text-xs-center">{{#num_played}}({{.}}){{/num_played}}</td>
{{#canRemove}}
<td>
<form action="/matches/{{match_id}}/players/remove" method="POST">
<input type="hidden" name="team" value="{{home_or_away}}">
<input type="hidden" name="key" value="{{key}}">
<button type="submit" class="btn btn-secondary btn-sm">X</button>
</form>
</td>
{{/canRemove}}
</tr>
{{/lineup}}
{{^lineup}}<!-- No players yet. Waiting for some to be invited/join. -->
<tr><td>Waiting...</td></tr>
{{/lineup}}

</table>
{{#canBegin}}
<form action="/matches/{{match_id}}/ready" method="POST">
<input type="hidden" name="team" value="{{home_or_away}}">
<center><input type="submit"  class="btn btn-sm btn-primary" value="SET LINEUP"></center>
</form>
{{/canBegin}}
{{#ready}}
Team is ready...
{{/ready}}

<datalist id="suggestions">
{{#sugs}}
<option value="{{.}}">
{{/sugs}}
</datalist>
