<h3>Registration</h3>
<table>
{{#canBegin}}
<tr>
<td>
<form action="/matches/{{match_id}}/begin" method="POST">
<input type="submit" value="BEGIN MATCH">
</form>
</td>
</tr>
{{/canBegin}}
<tr>
<td>Match:</td><td>{{name}}</td>
</tr>
<tr>
<td>Venue:</td><td>{{venue}}</td>
</tr>
<tr>
<td>Players:</td><td>{{num_players}}</td>
</tr>
</table>
{{#canAdd}}
<form action="/matches/{{match_id}}/players/add" method="POST">
<datalist id="suggestions">
{{#sugs}}
<option value="{{.}}">
{{/sugs}}
</datalist>
<table style="background-color: #ddd;">
<tr>
<td>Name:</td>
<td><input type="text" name="name" list="suggestions"></td>
</tr>
<tr>
<td>Email:</td>
<td><input type="email" name="email"></td>
</tr>
<tr>
<td colspan="2">
<input type="checkbox" name="want_captain" id="chb1"><label for="chb1">Wants captain?</label>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td><input type="submit" value="ADD PLAYER"></td>
</tr>
</table>
</form>
{{/canAdd}}
<hr>
<table>
{{#players}}
<tr>
<td>{{name}}</td>
{{#wants_captain}}
<td>(wants captain)</td>
{{/wants_captain}}
{{^wants_captain}}

{{#canAdd}}
<td>
<form action="/matches/{{match_id}}/players/add" method="POST">
<input type="hidden" name="key" value="{{key}}">
<input type="hidden" name="name" value="{{name}}">
<input type="hidden" name="email" value="{{email}}">
<input type="submit" name="want_captain" value="Add to Captains">
</form>
</td>
{{/canAdd}}
{{/wants_captain}}
{{#canRemove}}
<td>
<form action="/matches/{{match_id}}/players/remove" method="POST">
<input type="hidden" name="key" value="{{key}}">
<input type="submit" value="X">
</form>
</td>
{{/canRemove}}
</tr>
{{/players}}

{{#canJoin}}
<form action="/matches/{{match_id}}/players/join" method="POST">
<tr>
<td>
<input type="hidden" name="key" value="{{ukey}}">
<input type="submit" value="JOIN MATCH">
</td>
<td>
(<input type="checkbox" name="want_captain" id="chb"><label for="chb">I want to be a captain</label>)
</td>
</tr>
</form>
{{/canJoin}}
</table>
