
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOverview">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOverview" aria-expanded="false" aria-controls="collapseOverview">
          Overview
        </a>
      </h4>
    </div>
    <div id="collapseOverview" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOverview">
      <div class="panel-body">
	  <p>
        Monday Night Pinball is a coed team league where
        each team has a host bar that serves as the team's "home." Once a week, each
        team will compete against another team in the league, either at "home" or at
        their opponent's bar. Each team will score match points based on the results of
        the individual pinball games. At the end of each match, the team with the most
        match points will record a match win, while the other team will record a loss.
        League standings are determined based on a simple win/loss record with
        cumulative match points, heads-up records, and record vs common opponents
        serving as tie breakers.
	  </p>
	  <p>The following list summarizes rule changes for Fall 2017:
	  <ul>
	  <li>Updated match bonus points. +4 for 9 players (instead of +5) if all play at least 3 games.
	  Still +9 for 10 players if all ten play 3 games.
	  <li>Moidifed sub rules. Up to 4 subs with no penalty. A 5th sub can be used, but the team
	  forfeits any match bonus points.
	  <li>Illegal subs identified prior to start of league match shall not be used. Illegal subs
	  identified after the match begins with the sub playing, the team forfeits all its bonus points
	  for that match (including if this is only found out next day when results are reviewed).
	  <li>Updated minimum working machines to 5, or match moves to another location.
	  <li>Added definition of league-worthy machines, extracted from expansion team announcement.
	  <li>Added instructions if teams don't agree whether or not a machine is league-worthy.
	  <li>Added rule for IFPA suppressed player. Any suppressed player is considered Top 150 
	  for purposes of computing eligibility to play on team.
	  <li>Revised code of conduct section per board discussions that took place over the summer.
	  </ul>
	  </p>
	  <p>The following rules were not changed, but they were clarified to eliminate ambiguity:
	  <ul>
	  <li>Clarified if player plays is less than 50% of regular season matches (i.e. not at least 5 of 10), they are dropped from member roster: this only applies to players who were on roster at start of season. 
	  <li>Clarified start time as 8:45pm. Added guideline of 5 minutes per team to make picks.
	  <li>Clarified rule: if 7 or less working machines, all working machines must be used in singles round, only double up when necessary.
	  <li>Clarified rule for plunging extra ball rule for MNP: acceptable to touch flippers or tilt ball. Timed bonus balls are not considered extra balls, and can be played.
	  <li>Clarified legitimate nudging ball back into playfield on some machines vs death saves
	  <li>Clarified rule for points earned if a player in a doubles game is disqualified.
	  <li>Clarified rules for selecting alternate location in case of down machines. Added acceptability to select a location that does have a home match going on, but 16+ league-worthy machines.
	  <li>Added clarification on ejection from a location.
	  </ul>
	  </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Team Rosters
        </a>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>
          Teams consist of at least 8 players,
          and no more than 10. Of these, one player will
          act as the Team Captain. A second player should be named as a
          co-captain. Captains are responsible for organizing their team and
          corresponding promptly with the league about rosters, scoring and scheduling.
          Captains also serve as team representatives in each of the matches.
          In some cases, a team may designate a team secretary/liason to
          handle correspondence with league officials.
        </p>
        <p>
          The names of each player on the team will be submitted by
          the captain to league officials prior to the start of each season. See Roster
          Changes below for mid-season changes and use of substitutes.
        </p>
        <p>
          Each match will feature a minimum of 8 players from each team.
          If any roster players are missing for a night, then see SUBSTITUTE rules below.
        </p>
        <p>
          Roster changes must be submitted to the league commissioner at least 24 hours prior to a league match.
          IFPA restrictions are reconsidered each time a roster change is made, such that the
          player being added does not cause a violation of the IFPA ranking restrictions.
          Note that if existing players now violate the rankings due to a player
          improving their personal ranking during the year, that is fine, but is factored in to whether
          a new player or sub can be added.
        </p>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Team Composition and Restrictions
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
	  <p>
	  League play is structured with the assumption that at least 8 players from each team will be in attendance at every match. In addition, bars have agreed to host matches under this same assumption. In order to maintain the integrity of the competition, and to keep the location owners happy (they sponsor the league because the league brings them business), we ask that each team strongly adhere to this rule. 
	  </p>
	  <p>
	  If a team cannot field 10 players, they are allowed to bring in substitute players for the night, to bring their total up to a max of 10. A team must have at least 3 regular team members present and at least 7 players including substitutes, otherwise they forfeit the match. If the team only has 7 players, then the 8th player scores 0 in every game they play (only applies to doubles). If the game is doubles, it can be played as a 3-player game, with the missing player getting a 0. 
	  See Substitute section below for additional details on using subs.
	  </p>
	  <p>In an effort to maintain competitiveness throughout the league, team restrictions are used to prevent a team from loading up with too many top players, and helping distribute .the top players to different teams across the league.
	  For roster members, team restrictions are reconsidered each time there is a roster change. The new roster cannot violate the team restrictions, otherwise the change is not approved by the league.
	  <p>On any given league night, team restrictions are reconsidered for purpose of determining if a substitute player can play for the team. Addition of one or more substitutes cannot cause a team to no longer meet team restrictions.
	  <p>If a team does not meet team restrictions due to improvement of players on the team, that will be allowed to happen for duration of the remaining season. At the start of the subsequent season, however, any team member who started the previous season, but did not play in at least 50% of the team's regular season matches in the prior season needs to be dropped from the team. They can immediately be re-added if the team restrictions continue to be met.
	  </p>
        <p>
          Current team restrictions: no more than 1 player may be ranked in the IFPA top 150, nor
          more than 2 players ranked in the top 500, nor more than 3 players ranked in the top 1000
           of IFPA's World Pinball Player Rankings (<a href="http://www.ifpapinball.com">http://www.ifpapinball.com</a>)
          as of the day the team roster is submitted by the captain prior to season
          start. Once a player is on a team, they are considered "grandfathered" onto the team and their IFPA ranking will only affect who can join after them.
          This allows teams to have more top ranked players, assuming that they moved above a threshold after joining the team.
        </p>
		<p>
		For as long as MNP is using IFPA rankings as a metric to balance team strength, then any player who is known to be an active competitor in IFPA-sanctioned tourneys, but has suppressed their IFPA ranking, will be assumed to be in the top tier of ranked players. Based on current team restrictions, that means they will be considered a top 150 player.
		</p>
        <p>
          Any SUBSTITUTE player in the top 1000 can only sub for teams where the above restriction
          would not apply on the specific evening that they are substituting.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSubs">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSubs" aria-expanded="false" aria-controls="collapseSubs">
          Substitutes
        </a>
      </h4>
    </div>
    <div id="collapseSubs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSubs">
      <div class="panel-body">
        SUBSTITUTE players can be anyone with the following
        constraints:
        <ul>
        <li>Subs can play for any team as many times as they
          like during the first 9 weeks of the regular season.</li>
        <li>If a player plays 5 or more matches with a single team, that is the
          only team they can sub for in the last week of regular season, or in the playoffs.</li>
        <li>Players dropped from rosters will automatically become subs.</li>
        <li>If a sub is ranked in the IFPA top 1000, make sure to check if they
          are eligible to play for your team. (max 3 top 1000, 2 top 500, 1 top 150)</li>
        <li>The player is not an active team member on any other league team.</li>
        <li>The player has not been a sub 2 times AGAINST the team they
        would play against.</li>
        <li>Substitute players are not allowed to play more games than any
        roster player. This helps prevent a team from bringing in a ringer
        to play 3-4 games, while roster players only play 2-3.</li>
        <li>Any objection to a sub should be made before their first game of the match.  
		A sub that still plays despite the objection, or that is found later to not be a 
		valid sub, will result in a penalty to the team such that match bonus points 
		for that team will be forfeited. The team may get a formal warning from the board, and
		subsequent uses of illegal subs could result in additional penalties or action against
		the team.
		</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFlow">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFlow" aria-expanded="false" aria-controls="collapseFlow">
          Match Flow
        </a>
      </h4>
    </div>
    <div id="collapseFlow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFlow">
      <div class="panel-body">
        <p>Start time for MNP matches is 8:45pm. By 8:45pm, captains on both teams should have 
		their rosters approved, and visiting team begins making their picks.  
        <p>Match Flow and Scoring are managed by custom MNP software. All players can log 
		in to enter scores. Captains are provided special permissions to enter match 
		information and approve results. Instructions for using the software are provided 
		to captains via the Captains group, with demos provided during warm-up week scrimmages.
        <p>For Game 1, teams should take no more than 5 minutes to make their picks, and 
		responding team should not take more than 5 minutes to respond. To support such 
		seemingly aggressive time table, captains and players on the team should be 
		thinking about what they want to play before it is time to pick, and not only 
		start thinking about it when it's time to pick.
        <p>The 5 minutes to pick is a guideline. Currently there is no rule preventing a 
		team from taking longer. However, it is courteous to all players on both teams to 
		be prompt, as many players work the next morning. Adhering to these limits enables 
		most matches to end by 11:30pm, and long nights due to some good games to still be 
		done by midnight.
        <p>If players want to practice, they should arrive much earlier than 8:45pm.

        <p>Some constraints on selecting players for each round:</p>
        <ul>
          <li>In a doubles round, four games must be on 4 different machines.</li>
          <li>If location has 7 or more league-worthy machines, in a singles round, seven games must be
          on 7 different machines</li>
          <li>If there are less than 7 machines, then each machine must be used once in a singles match, and
		  remaining games scheduled so that no machine is used more than twice during a singles round.</li>
          <li>Any one player cannot play in more than one game in a round.</li>
        </ul>
        <p>
At the end of each game, players or their captains submit scores for each game via the MNP website software. Players should take photos of all games and upload them along with scores for review. Any score issues or loss of scorecard can be fixed with photos of the games.         </p>
        <p>
In the case of a player DQ or forfeit, the player should be given a score of '1', to distinguish from a '0' which causes the system to think the score is not yet enterred.        </p>
        <p>
          At the conclusion of all games in a round, both captains should review the scores,
          points, and total. Once confirmed, that round is complete and cannot
          be changed, so make sure both sides agree before confirming.
        </p>
        <p>
          All machines and players should be selected before the
          games of that round are started.
        </p>
        <ul>
          <li>Captains must be logged into the site to enter any picks.</li>
          <li>Players must be logged into the site to enter any scores.</li>
          <li>Any player from either team may report any score. (To help players not on the 
		  site.)</li>
          <li>We encourage all players to <a href="/signup">SIGNUP</a>.</li>
        </ul>
        <p>
          Matches flow according to the following order:
        </p>
        <ul>
          <li>Captains from both teams declare lineups</li>
          <li>Captains from both teams confirm each other's lineup</li>

          <li>Away team picks 4 machines and 8 players for doubles</li>
          <li>Home team picks 8 players to match up on doubles</li>
          <li>Games are played, and scores are entered on the site</li>
          <li>Captains review and confirm the round</li>

          <li>Home team picks 7 machines and 7 players for singles</li>
          <li>Away team picks 7 players to match up on singles</li>
          <li>Games are played, and scores are entered on the site</li>
          <li>Captains review and confirm the round</li>

          <li>Away team picks 7 machines and 7 players for singles</li>
          <li>Home team picks 7 players to match up on singles</li>
          <li>Games are played, and scores are entered on the site</li>
          <li>Captains review and confirm the round</li>

          <li>Home team picks 4 machines and 8 players for doubles</li>
          <li>Away team picks 8 players to match up on doubles</li>
          <li>Games are played, and scores are entered on the site</li>
          <li>Captains review and confirm the round</li>

          <li>If a tie breaker is needed, see tie breaker rules</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingScoring">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseScoring" aria-expanded="false" aria-controls="collapseScoring">
          Scoring and Bonus
        </a>
      </h4>
    </div>
    <div id="collapseScoring" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingScoring">
      <div class="panel-body">
        <p>
          Each match awards 82 game points.
          Teams can also earn up to 9 bonus points described below.
          If a match is tied after round 4, including bonus points, the winner of the
          tie breaker gets 1 point and the win for the match. See Tie Breaker rules.
          Points are earned as follows:</p>
        <ul>
        <li>
          20 points available each doubles
          round, as 5 points per game.</li>
        <li>
          21 points available each singles
          round, as 3 points per game.</li>
        <li>
          <b>Match Bonus points</b> are awarded for including more players in games. Teams are
          awarded 9 points if they have 10 players play 3 games each, or 4 points
          for 9 players playing at least 3 games each.</li>
        </ul>
		<li>A team that uses 5 or more subs, or is found to have played with an illegal sub,
		will forfeit all match bonus points.</li>
        <p>
          5 points for each doubles game are
          scored as follows:</p>
        <ul>
        <li>
          Two players from each team play a 4 player game.
          The team that picked the game plays as player 1 and player 3.
        </li>
        <li>
          Each player gets 1 point for
          each player on the other team they defeat.</li>
        <li>The team with the higher combined score gets
          one additional bonus point.</li>
        Another way of saying this:
        <li>
          Finish 1<sup>st</sup> and 2<sup>nd</sup>,
          win the game 5-0.</li>
        <li>
            Finish 1<sup>st</sup> and 3<sup>rd</sup>,
            win the game 4-1</li>
        <li>
          Finish 1<sup>st</sup> and 4<sup>th</sup>,
          then the team with higher combined
          score wins the game 3-2.</li>

        <li>
          If any 2 players on opposing teams have exactly the same
          score at the end. They should play a 1 ball playoff with the winner adding +1
          to their score. If the total is tied for the bonus point, play a 2 ball playoff
          as a shared singles game. Each player plays 1 ball. Add +1 to a score of
          one of players from the team winning the tie breaker. NOTE, do player vs player
          tie breakers first, then do a bonus point tie breaker, if needed.</li>
        </ul>
        <p>
          3 points for each singles game are
          scored as follows:</p>
        <ul>
        <li>
          Win the game by less than doubling the other
          player's score, win the game 2-1.</li>
        <li>
          Win the game by at least doubling the other
          player's score, win the game 3-0.</li>
        <li>
          If a singles game is tied after all balls are played,
          there is a 1 ball playoff, with the winner getting +1 to their score.
          Example: SurfChamp, A vs B, 35,000 to 35,000. Playoff is 10,000 to 2,000.
          Report score of 35,001 to 35,000 for 2-1 points.</li>
        <li>
          The winner of any 1 or 2 ball tie breaker will
          ALWAYS get ONLY +1 to their score (or at least some amount that is very small).</li>
        </ul>
        <p>
          At the end of the match, the team with the highest
          point total will be declared the winner.
          If the match is tied after 4 rounds, see the Tie Breaker rules below.
        </p>
        <h4>Scoring Errors</h4>
        <p>
          Each captain will have the opportunity to review all reported scores every round.
          If no errors are found, the round is confirmed and no longer able to be changed.
          This is different from prior seasons with paper scoresheets. There will be NO score
          corrections and all points will be officially calculated by the software. If
          for any reason paper sheets are needed for a night, make sure to go through the
          same confirmation process as we will not alter scores. If your points don't match
          up, they will be corrected without question. If your team loses because you
          didn't check it over accurately, that's too bad for you.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEBs">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEBs" aria-expanded="false" aria-controls="collapseEBs">
          Extra Balls
        </a>
      </h4>
    </div>
    <div id="collapseEBs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEBs">
      <div class="panel-body">
        <p>
		To help keep matches from running too long, extra balls are no longer played. 
		Players are allowed to attempt a plunger skill shot. They may flip before launch to 
		change a lane or make some other selection that might help. Once ball is in motion,  
		player must step back from machine, with no further flips, 
		nudges, or other button presses (like FIRE on AC/DC). The player can retry the skill 
		shot only if the ball returns to the plunger lane and the ball is not auto-plunged 
		upon returning there. A player earns any points and end-of-ball bonus associated 
		with plunging the extra ball.         
		</p>
        <p>In some cases, plunging an extra ball could be undesired in starting a mode or 
		multiball. The player can choose to tilt the ball instead, prior to attempting a 
		first skill shot plunge. To prevent confusion, the player should notify their 
		opponents of their intent to do so, prior to intentionally tilting the ball. 
		Once a player attempts the skill shot, even if it returns to plunger lane, 
		any subsequent tilt on that ball will be a disqualification from the game.
		</p>
		<p>
          In match tie breaker games, teams may play 1 EB, if they can get one. In 1 or 2
          ball tie breakers, no extra balls are allowed.
        </p>
        <p>
		If a player forgets to plunge their extra ball and someone on the other team starts playing it, 
		that neither player is not penalized. As soon as the mistake is realized, that player  
		should drop flippers and step back, as they are inadvertently earning points for the other team. 
		Any points earned will count to the player who earned the extra ball. 
       </p>
	   <p>
		If a player starts a normal ball that is not theirs, they forfeit the game as a zero score. 
		If it is a doubles game, the remaining player on their team can finish the game, and still 
		earn as many as 3 of the 5 points for the doubles game for their team.    
	   </p>
	   <p>
Some machines (e.g. Space Shuttle) provide timed bonus balls. Any bonus ball that is timed and ends by disabling flippers CAN be played; these are not considered extra balls.	   
	   </p>
	   </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTies">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Match Tie Breakers
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>
          In the event of a tie after round 4, including bonus points,
          there will be three shared singles tie-breaking games to determine the evening's winner.
        </p>
        <ul>
          <li><b>NOTE: Site software does not follow the steps below.
            Teams should do tie breaker picks on paper, and then enter
            as directed by the software.</b> This should be fixed at
            some point in the next season or two.</li>
          <li>Each tie-breaking game is played as a shared game with
            two players from each team.</li>
          <li>Step 1: HOME team picks machine for game 1 and two players to play game 1.</li>
          <li>Step 2: AWAY team picks machines and players for games 2 and 3.</li>
          <li>Step 3: HOME team picks players for games 2 and 3.</li>
          <li>HOME team plays first in all 3 games.</li>
          <li>For 3 ball games, one player plays balls 1 and 3, the other plays ball 2 and
            an extra ball, if possible.</li>
          <li>For 5 ball games, one player plays balls 1, 3 and 5, the other plays ball 2, 4,
            and an extra ball, if possible.</li>
          <li>The team winning at least 2 tie-breaking games is awarded 1 additional match point
            and declared winner.</li>
          <li>Tie breaker games DO NOT count towards participation bonus points. Those should
            be calculated prior as part of determining if a tie breaker is needed.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingMalfunctions">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMalfunctions" aria-expanded="false" aria-controls="collapseMalfunctions">
          Malfunctions and Rulings
        </a>
      </h4>
    </div>
    <div id="collapseMalfunctions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMalfunctions">
      <div class="panel-body">
        <p>
          If a machine has a "Major" malfunction and is determined to be down and out,
          the team that selected the machine selects a new machine, provided it is not
          one already played in the round, as well as having the option to select new players,
          as long as they have not played in the round, including the players from the
          malfunctioned game. The responding team then may
          also select any players from their pool of players that did not play in the
          round, as well as their players in the malfunctioned game.
        </p>
        <p>
          For all other cases of malfunction or ruling, the
          captain or co-captains from each team should meet, and come to agreement on a
          fair ruling. If the captains cannot agree on a fair ruling, then Combined IFPA/PAPA Rule set here
          (<a href="https://www.ifpapinball.com/menu/rules/">https://www.ifpapinball.com/menu/rules/</a>)
          should be consulted. Captains are encouraged to ask one or more players on their teams, especially those with significant tournament experience, to help interpret the ruling.
        </p>
		<p>
Unfortunately not all locations have key access to every machine. In case of stuck balls during multiball on such machines, the ruling is to play on. If this leads to a situation that is clearly not fair as it leads to an exploit, then the rules for beneficial malfunction should apply. Captains should then agree on a fair ruling.		
		</p>

        <p>
If there is still no resolution, then a text message can be sent to the commissioner of rules and regulations (Dave, 410-507-9020) (who might be playing at another location), with a maximum 10-minute wait for a response. If there is a response, then the response is binding. Since a response cannot be guaranteed, if there is no response in 10-minutes, and no resolution per PAPA rules orno captain agreement, then the game is voided, the players involved start a brand new gamethe game is voided and BOTH teams get a 0 for that game. 
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingConduct">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseConduct" aria-expanded="false" aria-controls="collapseConduct">
          Player Conduct
        </a>
      </h4>
    </div>
    <div id="collapseConduct" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingConduct">
      <div class="panel-body">
        <p>
          All players should read the IFPA/PAPA <B>Player Conduct</B>
          rules, listed in Section III here:
          <a href="https://www.ifpapinball.com/menu/rules/">https://www.ifpapinball.com/menu/rules/</a>
        <p>
		As we are all guests of the bars that host our matches, we must behave like guests. 
		If a player displays unsportsmanlike conduct or threatens the safety of 
		any individual or machine, then that player should be reported to a league official. 
		The league will investigate the incident and, if necessary, disciplinary action will 
		commence. Mild infractions will incur a warning, while extreme misconduct or repeated 
		mild infractions will result in suspension or expulsion from the league.
        </p>
		<p>
		Monday Night Pinball prohibits discrimination or harassment of any kind and will 
		strive to create a safe and fun environment for all participants. Any threats or 
		intimidation of other players or teams will not be tolerated. Any league member 
		who has experienced or witnessed harassment, discrimination, or violence toward 
		another league member or guest, or believes a particular person, team, or 
		location creates an unsafe environment for any reason, should contact the league 
		should immediately. All league members have a responsibility to submit complaints 
		to their captain or to the MNP board in a timely manner. The league encourages 
		prompt reporting of all incidents, regardless of who the offender may be.
        </p>
		<p>
		In the event that a formal complaint is submitted to the league, an 
		impartial investigation into the complaint will begin. This investigation 
		will be kept confidential to the best extent possible, and will be conducted 
		by the MNP board. Every reasonable effort will be made to rationally, objectively 
		and promptly resolve all complaints. At the end of the investigation period a 
		ruling will be made by the board. 
        </p>
		<p>
		Any league member who is found in violation of the code of conduct will be subject 
		to disciplinary action as determined by the league board. This action may include 
		suspension or expulsion from the league. Any league member who is found to have 
		initiated a false complaint at the end of an investigation may also be subject to 
		disciplinary action.
        </p>
		<p>		
		The staff or management at any location has the right to evict any player from the 
		location at any time. Should that happen, that player is disqualified from their current game 
		if they are in the middle of a game, and cannot play in any subsequent round that night, 
		nor can they remain on the premises. Any player that is evicted from a location, 
		whether it be that night only or a longer period of time, will automatically incur a 
		disciplinary review by the board. Captains are responsible for reporting such 
		incidents to league officials within 24 hours of the incident, which should include 
		their best assessment of what happened.
        </p>


        <h4>Coaching</h4>
        <p>
		Coaching of teammates is encouraged. However, coaching or any verbal communication 
		to your opponent while they are playing is considered interference, 
		and is not allowed. 
		</p>
		<p>Exception: per IFPA rules is if there's a stuck ball during 
		multiball, an opposing player can say "stuck ball" loud enough for the player to 
		recognize it.
        </p>
        <h4>Death Saves and Bang Backs</h4>
        <p>
          Techniques known as "Death Saves" and "Bang-backs" are not
          permitted during match play. However, should the drained ball bounce back into
          play without deliberate player action, the ball may be played. A player caught
          ATTEMPTING one of these techniques during match play will forfeit their score.
        </p>
		<p>
		Exception: if the machine has a post with rubber in areas after the ball drained 
		whose purpose is to provide the player a final chance to regain the ball, 
		then in those cases only, the player can attempt to nudge the ball when it gets 
		to the post. Notable machines with such features include Centaur with posts in 
		each outlane and a gate to let ball in, the right-side post on Indy Jones for 
		narrow escape, and the center post that is close to drain on Xenon.
		</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSchedule">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSchedule" aria-expanded="false" aria-controls="collapseSchedule">
          Schedule, Standings, and Playoffs
        </a>
      </h4>
    </div>
    <div id="collapseSchedule" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSchedule">
      <div class="panel-body">
		Regular season typically consists of 10 weeks of partial round robin play
		<ul>
		</li>
          <li>Half of games will be at a team's home venue. Half will be away.</li>
          <li>The full schedule will be created and distributed prior to the start of the season.</li>
          <li>Number of teams, conference organization, and distribution of matches may change from season to season, depending on number and location of teams that season.</li>
        </ul>
        <h4>Standings</h4>
        <p>
          League standings are maintained based on win/loss record, with
          cumulative match points recorded as the first tie-breaker. Since match points
          earned is used to break ties, it is important to play every game during match
          play. Do not end a match early simply because one team has earned enough
          points to record a match win.
        </p>
        <p>
          At the end of the regular season, if two teams have the same record and
          same number of match points, then their head-to-head result will be considered
          to break the tie. If they did not play each other, their record vs
          common opponents will be used to break the tie. If still tied, their points
          vs common opponents is used. If still tied, the league will flip a coin.
        </p>
        <h4>Playoffs</h4>
        <b>PLAYOFF SEEDING/BRACKET</b>
        <ul>
          <li>Top 12 teams at the end of the regular season make the playoffs</li>
          <li>Top 4 teams get a 1st round bye and home field in week 2</li>
          <li>Teams 5-12 play as follows in week 1: 5 vs 12, 6 vs 11, 7 vs 10, 8 vs 9</li>
          <li>Winners of week 1 are seeded by their relative season seed.</li>
          <li>Lowest seed from week 1 winners plays #1</li>
          <li>2nd Lowest from week 1 winners plays #2</li>
          <li>3rd Lowest from week 1 winners plays #3</li>
          <li>4th Lowest from week 1 winners plays #4</li>
          <li>The bracket is fixed from week 2 onto the finals</li>
        </ul>

        <p>
          Except for the championship finals, the team with the higher
          seed gets home-field advantage, with the match played at their home location.
          Location of championship finals and consolation finals is a neutral location that is not
		  home for any of the final four teams. Location of these matches is to be announced no 
		  later than 48 hours after conclusion of Quarter Finals match, but could be 
		  announced earlier if the planned host does not have any home team in the playoffs. 
        </p>
        <p>
		The schedule is generally create to avoid two matches in the same location, 
		but on rare occasion it can happen, in favor of meeting other scheduling criteria. 
		When there is such doubling up, the captains for one of the two matches can 
		agree to start either 15 minutes earlier, with picks at 8:30pm, or 15 
		minutes later with picks at 9:00pm. As long as first match is sequenced, 
		experience is that entire night will sequence rather well.  If captains don't 
		agree on a time shift, then everything starts on schedule at 8:45pm, and the 
		teams simply need to wait for machines when there are conflicts. On these nights, 
		players should not practice between rounds on machines selected for use by the 
		other match.
        </p>
      </div>
    </div>
  </div>

<!-- EXAMPLE SECTION BLOCK
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
-->

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOther">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOther" aria-expanded="false" aria-controls="collapseOther">
          Other
        </a>
      </h4>
    </div>
    <div id="collapseOther" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOther">
      <div class="panel-body">

        <h4>TARDINESS AND EARLY DEPARTURE</h4>

        <p>
          Matches should start on time provided 8 players from each
          team are present. The match should not be delayed simply because a "better"
          player is on their way. If there are not enough players to start, but more are
          on their way, or the captain is speaking to locals at the bar to recruit a
          substitute for the night, then the start of the match may be delayed for up to 15 minutes. After 15 minutes, league must move
          on, and games of missing players get forfeited.
        </p>

        <p>
          Team captains are encouraged to use players who are on-time
          in Round 1, and have late arriving players only join in for Round 2.
        </p>

        <h4>Forfeits</h4>

        <p>
          If a team cannot field at least 7 players (including substitutes)
          within 15 minutes of the scheduled starting time, then they forfeit the match.
          The team that is present will receive the win and 41 match points (50% of 82
          points) for purposes of standings. The team that forfeits receives 0 points and
          0 match points.
        </p>

        <p>
          If at least 7 or more players from the team that is present
          remains at the location for at least two hours after the start time, then they
          will receive an additional 20 match points for a total of 61 points (~75% of 82
          points). This additional reward in points is in respect for the location
          owners who sponsor the league, who expect attendance as a key exchange for
          their sponsorship.
        </p>

        <h4>Game Payment</h4>

        <p>
          It is the shared responsibility of both teams to pay for the
          individual pinball games. In the event that a player "Matches" or earns a "Free
          Play" then that player's TEAM will earn the extra credit and it will be passed
          along to the next match up. TEAMS, not individuals, earn extra play.
        </p>

        <h4>Idle Machines</h4>

        <p>
          During a match, players are allowed to practice on those
          machines which are not in use under a few conditions. First of all, practice
          games may not, in any way, interfere with match play. If the machine is needed
          to progress the match, then league players should surrender the machines
          immediately for match play. Also, if the practicing player's physical presence
          is deemed a distraction to a match game, then the practicing player should not
          practice on that machine.
        </p>

        <p>
          When a practicing player is needed for a match game, then
          that player must immediately step away from practicing to participate in match
          play, so as to not hold up the match. Finally, those practicing MUST allow
          other players, from either team, to join them in the practice game.
        </p>

        <p>
          Once machine selections are made for a round, no player can
          start a new practice game on any machine selected for use in that round.
        </p>

        <h4>Minors</h4>

        <p>
          <b>Monday Night Pinball is a 21+ bar league.</b> Minors are not allowed to participate in the league. In
          addition, league players are not allowed to bring minors to matches at a
          location that has an age restriction. Age restrictions of a location are based
          on state licensing, and the league and location must abide by them.
        </p>

        <h4>Machine Availability</h4>

        <p>
          Venues need to have 8 machines in order to host a
          team. At least 5 of them must be in working condition to host league play.
        </p>
		<p>
		A machine is league-worthy if it meets the following criteria:
		<ul>
		<li>Machine is primarily pinball. A machine with a video mode is OK, but a machine in which 
		more than 10% of the time is in video mode, or for which you can lose your turn by losing 
		video mode instead of draining a ball, are not eligible. 
		<li>All switches are registering (it's ok if one switch is not registering but is not 
		crucial to game play that nobody really complains about it). Shots or features not working 
		but have suitable compensation enabled (like disabling claw in Demolition Man) is acceptable. 
		<li>Lower flippers are strong enough to hit every shot, even after the machine has been 
		in constant use for 30 minutes. Upper flippers are strong enough to make crucial shots 
		(a broken upper flipper on some games like Mars Trek is acceptable, but on most games 
		it isn't). 
		<li>Most (preferably all) lights are working. Key lights are all working. 
		<li>Playfield is reasonably clean, and doesn't have a year of grime build-up. Playfield
		wear is normal for older machines, and not a reason to flag a machine as not league-worthy.
		<li>Balls rarely get stuck. 
		<li>Machine does not regularly glitch, such as resetting mid-game, ending 
		balls prematurely, creating arbitrary multi-balls or not serving multiple balls 
		during multi-ball, etc. A machine that does this rarely (e.g. at most once a day) 
		is ok; if it happens in that case, malfunction rules apply. If it's happening more 
		frequently, the machine is not league worthy. 
		</ul>
		Machines that are not league-worthy should not be used. Any machine that the venue has
		flagged as out-of-order should not be used. Any other machine is to be used, unless both
		captains agree that it is not league-worthy. 
		If only one captains thinks a machine is not league-worthy, then the machine
		is "in" and available for selection. However, upon first occurrence of a 
		situation that requires a major or beneficial malfunction ruling, 
		then malfunction rules shall apply to that game, and the machine should not
		be used in subsequent rounds for rest of the evening. 
		If a minor malfunction continues to happen and is the same
		for both teams, then play continues.
		</p>
        <p>
          If there are not at least 5 working machines at the home venue, the match must occur at
          a close-by league-approved venue. The venue selected must either not be hosting a 
		  match,
		  or is a larger venue with at least machines and only hosting a single match. 
		  The home team has choice of this alternate venue, although a mutually agreeable venue with the
		  visiting captain is preferred.
        </p>
		<p>
		  If it is known several hours before league time that the location is problematic,
		  the host team captain should contact visiting captain and possibly setup the alternate
		  venue ahead of time.
		  </p>
		  <p>
		  <h4>Closed Venues</h4>
		<p>If a location is closed or unavailable for one league night, apply the machine availability rules above.
		<p>If a location closes temporarily or permanently, the remainder of the season is to be carried out by a team selecting a home location for each remaining home match. This could be the same each week, or move from week to week, based on available.  
		<p>The home team must notify the league via the captain's group at least one week prior to each match, what location will be the home location for their next match. It must be either a current league location that is not hosting a home match that night, or a location that meets league criteria that has been pre-approved by the board as acceptable to play in. If the home team fails to notify what location to use one week before, a league commissioner will make the decision and post it to the captain's group.
		<p>Regardless of where the team plays, they will carry out the season under the banner of their original home location for that season. Prior to the next season, the league and team captain will discuss on a case-by-case basis whether the team needs to find a new home, can wait for the location to reopen, or must disband the team.

        <p>
          Anytime less than 4 machines were available at a
          location, league officials should be notified. They will contact the location
          owner, as awarding a team to a location came with the understanding that at
          least 4 machines would be available for play at the start of each week.
          Prolonged lack of machines can result in forfeit, suspension, or removal
          from the league, but we will try to work with owners to help prevent this
          from happening.
        </p>

        <p>
          If captains cannot come to an agreement, then a text message
          to league officials should be made. Any decision by league official is final.
        </p>

        <h4>CAPTAIN RESPONSIBILITY</h4>

        <p>
          Captains on each team are selected for the difficult
          task of helping to run a smooth league that is distributed at many locations.
          The league relies on the captains to negotiate with each other to manage as
          many rulings as possible without league official intervention, in as fair a
          manner as possible. The league retains the right to remove captains that are
          not cooperative, and who put the advantage of their own team ahead of the
          interest of the league to run smoothly by not being willing to negotiate fair
          terms with the other captains.
        </p>

        <p>
          In all cases, league officials are only a text message or
          phone call away. But they also play, and might not be able to answer in a
          timely manner. However, feel free to contact league officials when necessary
          for help in making fair rulings.
        </p>
      </div>
    </div>
  </div>


</div> <!-- End panel-group id=accordion -->
