<div class="jumbotron">
  Coming soon...
</div>

<!--
<table class="table">
<tr class="header-row">
  <td>#</td>
  <td>Team</td>
  <td class="text-xs-center">W</td>
  <td class="text-xs-center">L</td>
  <td>Points</td>
</tr>
{{#rows}}
<tr>
  <td class="text-xs-right">{{n}}</td>
  <td><a href="/teams/{{key}}">{{name}}</a></td>
  <td class="text-xs-center">{{wins.length}}</td>
  <td class="text-xs-center">{{losses.length}}</td>
  <td class="text-xs-right">{{points}}</td>
</tr>
{{/rows}}
</table>
-->
