<nav class="navbar navbar-dark p-0 mb-1" style="background-color:#008181;">
  <div class="nav navbar-nav p-0">
    {{#divisions}}
    <span id="tab-{{id}}" class="nav-item nav-link div-tab">&nbsp;{{id}}&nbsp;</span>
    {{/divisions}}
  </div>
</nav>

{{#divisions}}
<table id="div-{{id}}" class="table table-striped division hidden">
  <thead class="thead-default">
    <tr class="header-row">
      <td>&nbsp;</td>
      <td>IPR</td>
      <td>Player</td>
      <td># Matches</td>
      <td>PPM</td>
      <td>POPS</td>
    </tr>
  </thead>
  <tbody>
  {{#players}}
    <tr>
      <td class="text-xs-center">{{n}}</td>
      <td class="text-xs-center">
        {{#rating}}
        <span class="badge badge-{{rating}}">{{rating}}</span>
        {{/rating}}
      </td>
      <td><a href="/players/{{key}}">{{name}}</a></td>
      <td class="text-xs-center">{{num_matches}}</td>
      <td>{{ppm}}</td>
      <td>{{pops}}</td>
    </tr>
  {{/players}}
  </tbody>
</table>
{{/divisions}}

<script>
function showPane(id) {
  $('.div-tab').removeClass('active');
  $('#tab-'+id).addClass('active');
  $('.division').addClass('hidden');
  $('#div-'+id).removeClass('hidden');
}

$(document).ready(function() {
  $('.div-tab').click(function(e) {
    var id = $(this).text().trim();
    console.log('clicked', id);
    showPane(id);
  });

  showPane('all');
});
</script>
