<table id="team_info">
<tr><td>Name:</td><td><b>{{name}}</b></td></tr>
<tr><td>Venue:</td><td>{{venue}}</td></tr>
<tr><td>Captain:</td><td>{{captain}}</td></tr>
<tr><td>Co-Captain:</td><td>{{co_captain}}</td></tr>
<tr><td>Division:</td><td>{{division}}</td></tr>
<tr><td>Team Rating:</td><td><b>{{team_rating}}<b></td></tr>
<tr><td>&nbsp;</td></tr>
</table>

<table id="team_roster" class="table">
<tr class="header-row">
  <th>Roster ({{roster.length}} Players)</th>
  <th class="text-xs-center">IPR</th>
  <th class="text-xs-center">M</th>
  <th>PPM</th>
  <th>POPS</th>
</tr>
{{#roster}}
<tr>
  <td><a href="/players/{{key}}">{{name}}</a></td>
  <td class="text-xs-center">
    {{#rating}}
    <span class="badge badge-{{rating}}">{{rating}}</span>
    {{/rating}}
  </td>
  <td class="text-xs-center">{{num_matches}}</td>
  <td>{{ppm}}</td>
  <td>{{pops}}</td>
</tr>
{{/roster}}

<table id="team_schedule" class="table">
<tr><td colspan="5" class="header-row">Schedule</td></tr>
{{#schedule}}
<tr>
  <td>{{week}}</td>
  <td>{{date}}</td>
  <td>{{side}}</td>
  <td><a href="/teams/{{opp.key}}">{{opp.name}}</a></td>
  <td>{{#result}}<a href="/matches/{{key}}">{{.}}</a>{{/result}}</td>
</tr>
{{/schedule}}
</table>
